{{set . "title" "Dashboard"}}
{{template "Template/header.html" .}}

<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row colorbox-group-widget">
            <div class="col-md-3 col-sm-6 info-color-box">
                <div class="white-box">
                    <div class="media bg-primary">
                        <div class="media-body">
                            <h3 class="info-count">{{.ordertoday}} <span class="pull-right"><i class="mdi mdi-basket"></i></span></h3>
                            <p class="info-text font-12">Order</p>
                            <p class="info-ot font-15">Date<span class="label label-rounded">{{.today}}</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 info-color-box">
                <div class="white-box">
                    <div class="media bg-info">
                        <div class="media-body">
                            <h3 class="info-count">{{.orderonprocess}} <span class="pull-right"><i class="mdi mdi-clock"></i></span></h3>
                            <p class="info-text font-12">On Process</p>
                            <p class="info-ot font-15">Waiting Payment<span class="label label-rounded">{{.orderpayment}}</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 info-color-box">
                <div class="white-box">
                    <div class="media bg-warning">
                        <div class="media-body">
                            <h3 class="info-count">{{.ordermonth}}<span class="pull-right"><i class="mdi mdi-checkbox-marked-circle-outline"></i></span></h3>
                            <p class="info-text font-12">Order</p>
                            <p class="info-ot font-15">Month<span class="label label-rounded">{{.month}}</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 info-color-box">
                <div class="white-box">
                    <div class="media bg-success">
                        <div class="media-body">
                            <h3 class="info-count">{{.ordersuccess}}<span class="pull-right"><i class="mdi mdi-checkbox-marked-circle-outline"></i></span></h3>
                            <p class="info-text font-12">Order Success</p>
                            <p class="info-ot font-15">Year<span class="label label-rounded">{{.year}}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-sm-5">
                <div class="white-box">
                    <h3 class="box-title" style="color: brown">Yesterday</h3>
                    <div class="table-responsive">
                        {{if not .yesterdayTransaction}}
                        <p class="text-center">
                            No data
                        </p>
                        {{else}}
                        <table id="myTable" class="table table-striped">
                            <thead class="panel panel-info">
                                <tr>
                                    <th>Penerbit</th>
                                    <th>Judul Buku</th>
                                    <th>Qty</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{range .yesterdayTransaction}}                                        
                                <tr>
                                    <td>{{.Publisher}}</td>
                                    <td>{{.Title}}</td>
                                    <td>{{.Qty}}</td>
                                </tr>
                                {{end}}
                            </tbody>
                        </table>  
                        {{end}}  
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="white-box">
                    <h3 class="box-title" style="color: blue">Today</h3>
                    <div class="table-responsive">
                        {{if not .todayTransaction}}
                        <p class="text-center">
                            No data
                        </p>
                        {{else}}
                        <table id="myTable" class="table table-striped">
                            <thead class="panel panel-info">
                                <tr>
                                    <th>Penerbit</th>
                                    <th>Penulis</th>
                                    <th>Judul Buku</th>
                                    <th>Qty</th>
                                    <th>Earn</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{range .todayTransaction}}                                        
                                <tr>
                                    <td>{{.Publisher}}</td>
                                    <td>{{.Writer}}</td>
                                    <td>{{.Title}}</td>
                                    <td>{{.Qty}}</td>
                                    <td>{{.PriceFormat}}</td>
                                </tr>
                                {{end}}
                            </tbody>
                        </table>  
                        {{end}}  
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
</div>

{{template "Template/footer.html"}}

<!--Morris JavaScript -->
<script src="/public/cubic/plugins/components/raphael/raphael-min.js"></script>
<script src="/public/cubic/plugins/components/morrisjs/morris.js"></script>

<script type="text/javascript" charset="utf-8">
    setTimeout(function(){
    window.location.reload(1);
    }, 600000); // 10 menit
</script>