{{set . "title" "Dashboard"}}
{{template "Template/header.html" .}}

<div class="page-wrapper">
    <!-- ===== Page-Container ===== -->
    <div class="container-fluid">  
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="white-box upload-widget2">
                    <h4 class="box-title">Cek Ongkos Kirim</h4>
                    <form>
                        <div class="form-body">
                            <div class="form-group">
                                <label>Kota Asal</label>
                                <select class="form-control">                                   
                                    <option value="1">Depok</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Kota Tujuan</label>
                                <select class="form-control" name="b.birthplace">
                                    <option value="1">Aceh</option>
                                    <option value="2">Bandung</option>
                                    <option value="3">Ambil APIs Kota Rajaongkir</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Berat</label>
                                <input type="text" class="form-control" placeholder="Gram" value="1000">
                            </div>
                        </div>
                    </form>
                    <div class="up-add-file t-a-c">
                        <a href="javascript:void(0);" class="btn btn-primary font-16"><i class="fa fa-search p-r-20"></i>Cek</a>
                    </div>
                </div>
            </div> 
            <div class="col-md-9 col-sm-12">
                <div class="white-box upload-widget2">
                    <h4 class="box-title">Result</h4>
                    <hr>
                    
                </div>
            </div>            
        </div>
    </div>
</div>
   
{{template "Template/footer.html"}}