{{set . "title" "Dashboard"}}
{{template "Template/header.html" .}}

<div class="page-wrapper">
    <!-- ===== Page-Container ===== -->
    <div class="container-fluid">  
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="white-box upload-widget2">
                    <h4 class="box-title">Cek Resi</h4>
                    <input type="text" class="form-control" placeholder="...">
                </div>
            </div> 
            <div class="col-md-12 ">
                <div class="white-box upload-widget2">
                    <h4 class="box-title">Result</h4>
                    <hr>
                    
                </div>
            </div>            
        </div>
    </div>
</div>
   
{{template "Template/footer.html"}}