
{{if or .errors .flash.error}}
    <div class="row">
        <div class="col-xs-12 alert alert-danger">
                {{if .flash.error}}
                    {{.flash.error}}
                {{end}}
                {{if .errors}}
                <ul style="margin-top:10px;">
                    {{range .errors}}
                        <li>{{.}}</li>
                    {{end}}
                </ul>
                {{end}}
        </div>
    </div>
{{end}}

{{if .flash.success}}
    <div class="row">
        <div class="col-xs-12 alert alert-success" style="opacity: 0.8">
            {{.flash.success}}
        </div>
    </div>
{{end}}
