        <!-- ===== Right-Sidebar ===== -->
        <div class="right-sidebar">
            <div class="slimscrollright">
                <div class="rpanel-title"> Service Panel <span><i class="icon-close right-side-toggler"></i></span> </div>
                <div class="r-panel-body">
                    <ul class="hidden-xs">
                        <li><b>Layout Options</b></li>
                        <li>
                            <div class="checkbox checkbox-danger">
                                <input id="headcheck" type="checkbox" class="fxhdr">
                                <label for="headcheck"> Fix Header </label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox checkbox-warning">
                                <input id="sidecheck" type="checkbox" class="fxsdr">
                                <label for="sidecheck"> Fix Sidebar </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- ===== Right-Sidebar-End ===== -->
    
    
        <footer class="footer t-a-c">
            © 2018 Bukku.co.id
        </footer>
    </div>
</div>



<!-- jQuery -->
<script src="/public/components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/public/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Menu Plugin JavaScript -->
<script src="/public/js/sidebarmenu.js"></script>
<!--slimscroll JavaScript -->
<script src="/public/js/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="/public/js/waves.js"></script>
<script src="/public/components/toast-master/js/jquery.toast.js"></script>
<script src="/public/js/toastr.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/public/js/custom.js"></script>
<!--Style Switcher -->
<script src="/public/components/styleswitcher/jQuery.style.switcher.js"></script>
<!-- Clock Plugin JavaScript -->
<script src="/public/components/clockpicker/dist/jquery-clockpicker.min.js"></script>
<!-- Color Picker Plugin JavaScript -->
<script src="/public/components/jquery-asColorPicker-master/libs/jquery-asColor.js"></script>
<script src="/public/components/jquery-asColorPicker-master/libs/jquery-asGradient.js"></script>
<script src="/public/components/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js"></script>
<!-- Date Picker Plugin JavaScript -->
<script src="/public/components/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<!-- Date range Plugin JavaScript -->
<script src="/public/components/timepicker/bootstrap-timepicker.min.js"></script>
<!-- <script src="/public/components/bootstrap-daterangepicker/daterangepicker.js"></script> -->
<script src="/public/components/datatables/jquery.dataTables.min.js"></script>
<!-- start - This is for export functionality only -->
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
<!-- end - This is for export functionality only -->

</body>
</html>