<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/images/bukku.ico">
    <title>{{.title}}</title>
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/easy-autocomplete.css" rel="stylesheet" />

    <!-- ===== Bootstrap CSS ===== -->
    <link href="/public/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    
    <!-- ===== Plugin CSS ===== -->
    <link href="/public/components/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="/public/components/dropify/dist/css/dropify.min.css" rel="stylesheet" type="text/css" />
    <link href="/public/components/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="/public/components/timepicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="/public/components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />
    <link href="/public/components/custom-select/custom-select.css" rel="stylesheet" type="text/css " />
    <link href="/public/components/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="/public/components/custom-select/custom-select.css" rel="stylesheet" type="text/css" />
    <link href="/public/components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="/public/components/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet">
    <link href="/public/components/jquery-asColorPicker-master/css/asColorPicker.css" rel="stylesheet">
    <link href="/public/components/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="/public/components/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="/public/components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- ===== Animation CSS ===== -->
    <link href="/public/components/toast-master/css/jquery.toast.css" rel="stylesheet">
    <link href="/public/css/animate.css" rel="stylesheet">
    <!-- ===== Custom CSS ===== -->
    <link href="/public/css/style.css" rel="stylesheet">
    <!-- ===== Color CSS ===== -->
    <link href="/public/css/colors/default.css" id="theme" rel="stylesheet">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        div.easy-autocomplete {
            width: auto !important;
        }
    </style>

</head>

<body class="mini-sidebar">
    <!-- Preloader -->

    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <!-- ===== Main-Wrapper ===== -->
    <div id="wrapper">
        <!-- ===== Top-Navigation ===== -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <a class="navbar-toggle font-20 hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="top-left-part">
                    <a class="logo" href="/">
                        <b>
                            <img src="/public/images/logodashputih.png" width="38" alt="home" />
                        </b>
                        <span>
                            <img src="/public/images/dash-putih.png" width="180" />
                        </span>
                    </a>
                </div>
                 <ul class="nav navbar-top-links navbar-left hidden-xs">
                    <li>
                        <a href="javascript:void(0)" class="sidebartoggler font-20 waves-effect waves-light"><i class="icon-arrow-left-circle"></i></a>
                    </li>
                </ul> 
                <ul class="nav navbar-top-links navbar-right pull-right">
                    <li class="right-side-toggle">
                        <a class="waves-effect waves-light b-r-0 font-20" data-toggle="tooltip" title="" href="{{url "App.Logout"}}">
                            <i class="icon-logout"></i>
                        </a>
                    </li>

                    <!-- <li class="right-side-toggle">
                        <a class="right-side-toggler waves-effect waves-light b-r-0 font-20" href="javascript:void(0)">
                            <i class="icon-settings"></i>
                        </a>
                    </li> -->
                </ul>
            </div>
        </nav>
        <!-- ===== Top-Navigation-End ===== -->

        <!-- ===== Left-Sidebar ===== -->
        <aside class="sidebar">
            <div class="scroll-sidebar">
                <div class="user-profile">
                    <div class="dropdown user-pro-body">
                        <div class="profile-image">
                            <img src="{{.user.URLProfile}}" alt="user-image" class="img-circle">
                        </div>
                        <p class="profile-text m-t-15 font-16"><a href="javascript:void(0);">{{.user.FullName}}</a></p>
                    </div>
                </div>
                <nav class="sidebar-nav">
                    <ul id="side-menu">
                        <li>
                            <a class="waves-effect" href="{{url "Dashboard.Index"}}" aria-expanded="false"><i class="icon-screen-desktop fa-fw"></i> <span class="hide-menu">Home</span></a>
                        </li>
                        <!-- <li>
                            <a href="#"><i class="fa fa-truck fa-fw"></i> Courier<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/dashboard/courier/cekongkir">Ongkos Kirim</a>
                                </li>                            
                                <li>
                                    <a href="/dashboard/courier/cekresi">Lacak Kiriman</a>
                                </li>
                            </ul>
                        </li>    -->
                        <li>
                            <a href="#"><i class="icon-bag fa-fw"></i> <span class="hide-menu">Transaction</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/dashboard/transaction/new">New Order</a>
                                </li>                            
                                <li>
                                    <a href="/dashboard/transaction/process">On Process <span class="label label-rounded label-info pull-right">{{.countProcess}}</span></a>
                                </li>
                                <li>
                                    <a href="/dashboard/transaction/print">Print Label <span class="label label-rounded label-success pull-right">{{.countPrint}}</span></a>
                                </li>
                                <li>
                                    <a href="/dashboard/transaction/history">History</a>
                                </li>
                            </ul>
                        </li>                             
                        <li>
                            <a href="#"><i class="icon-social-dropbox fa-fw"></i> <span class="hide-menu">Stock</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/dashboard/master/restock">Restock</a>
                                </li>
                                <li>
                                    <a href="/dashboard/master/historyrestock">History Restock</a>
                                </li>                            
                            </ul>
                        </li> 
                        <li>
                            <a href="#"><i class="icon-grid fa-fw"></i> <span class="hide-menu">Master</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/dashboard/master/book">Book</a>
                                </li>
                                <li>
                                    <a href="/dashboard/master/bundle">Bundle</a>
                                </li>
                                <li>
                                    <a href="/dashboard/master/writer">Writer</a>
                                </li>
                                <li>
                                    <a href="/dashboard/master/publisher">Publisher</a>
                                </li>
                                <li>
                                    <a href="/dashboard/master/promo">Promo</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>   
                        
                        <li>
                            <a href="#"><i class="icon-user fa-fw"></i> <span class="hide-menu">Account</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/dashboard/master/customer">Customer</a>
                                </li>
                                <li>
                                    <a href="/user">User</a>
                                    <!-- <a href="/user/user">User</a> -->
                                </li>
                                <li>
                                    <a href="/role">Role</a>
                                </li>
                                <li>
                                    <a href="#">Menu Access</a>
                                </li>
                            </ul>
                        </li> 
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- ===== Left-Sidebar-End ===== -->