{{set . "title" "Dashboard | Transaction Edit"}}
{{template "Template/header.html" .}}

<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
            <div class="panel-wrapper collapse in" aria-expanded="true">
                <div class="panel-body">

                    {{template "Template/flash.html" .}}
                    <form id="orderForm" name="orderForm" action="/dashboard/transaction/{{.data.ID}}/edit" method="POST">
                        <div class="form-body">
                            <h3 class="box-title">#{{.data.ID}} Edit Order for {{.data.Customer.Name}}</h3>
                            <p>Periksa bagian pengiriman barang, jenis kurir dapat berubah setelah diedit!</p>
                            <hr>
                            {{with $field := field "data.Customer.ID" .}}
                            <input name="{{$field.Name}}" type="hidden" value="{{$field.Value}}" disabled>
                            {{end}}
                            <div class="row">
                                <div class="col-md-6">
                                    {{with $field := field "data.Customer.Name" .}}
                                    <div class="form-group">
                                        <label>Full Name</label>
                                        <input class="form-control" name="{{$field.Name}}" type="text" value="{{$field.Value}}" disabled>
                                    </div>
                                    {{end}}
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Channel</label>
                                        <select class="form-control" name="channel" id="order-channel" required>
                                            <option {{if eq "WA" .data.Channel}}selected{{end}} value="WA">WhatsApp</option>
                                            <option {{if eq "LINE" .data.Channel}}selected{{end}} value="LINE">Line</option>
                                            <option {{if eq "WEB" .data.Channel}}selected{{end}} value="WEB">Web</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    {{with $field := field "data.Customer.Phone" .}}
                                    <div class="form-group">
                                        <label>No Handphone</label>
                                        <input class="form-control" name="{{$field.Name}}" value="{{$field.Value}}" disabled>
                                    </div>
                                    {{end}}
                                </div>
                            </div>
                            <!--/row-->
                            <h3 class="box-title m-t-40">Pesanan</h3>
                            <hr>
                            <div id="order">
                                {{$books := .books}}
                                {{$bundles := .bundles}}
                                {{range .data.Detail}}
                                    <div class="row">
                                            <div class="col-md-5 ">
                                                <div class="form-group">
                                                    <label>Judul Buku</label>
                                                    <select class="form-control select2 product-select" name="product[]" required onselect="">
                                                        {{$ProductCode := .ProductCode}}
                                                        <optgroup label="Book">
                                                        {{range $books}}
                                                            <option {{if eq .Code $ProductCode}}selected{{end}} value="{{.Code}}" data-price="{{.Price}}" data-weight="{{.Weight}}">{{.Title}}</option>
                                                        {{end}}
                                                        </optgroup>        
                                                        <optgroup label="Bundle">
                                                        {{range $bundles}}
                                                            <option {{if eq .Code $ProductCode}}selected{{end}} value="{{.Code}}" data-price="{{.Price}}" data-weight="{{.Weight}}">{{.Title}}</option>
                                                        {{end}}
                                                        </optgroup>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="form-group">
                                                    <label>Qty</label>
                                                    <input class="form-control product-qty" name="quantity[]" type="number" value="{{.Qty}}" min="1" required>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Harga Satuan</label>
                                                    <div class="input-group"> <span class="input-group-addon">Rp</span>
                                                        <input class="form-control product-singleprice" name="singlePrice[]" type="text" value="{{.SinglePrice}}" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Harga</label>
                                                    <div class="input-group"> <span class="input-group-addon">Rp</span>
                                                    <input class="form-control product-price" name="price[]" type="text" value="{{.TotalPrice}}" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1 ">
                                                <button type="button" class="btn btn-danger btn-circle pull-right delete-product"><i class="fa fa-times"></i></button>                                    
                                            </div>
                                    </div>
                                {{end}}
                            </div>
                            <div class="row">
                                <div class="col-md-1 col-xs-12">
                                    <button type="button" class="btn btn-outline btn-info pull-right" onclick="addOrderField()"><i class="fa fa-plus"></i> &nbsp;Add</button>                                    
                                </div>
                            </div>

                            <h3 class="box-title m-t-40">Alamat Pengiriman</h3>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    {{with $field := field "data.Customer.Address.Street" .}}
                                    <div class="form-group">
                                        <label>Alamat</label>
                                        <input type="text" class="form-control" value="{{$field.Value}}" disabled> 
                                    </div>
                                    {{end}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 ">
                                    {{$states := .states}}
                                    {{with $field := field "data.Address.StateID" .}}
                                    {{$stateID := $field.Value}}
                                    <div class="form-group">
                                        <label>Negara</label>
                                        <select class="form-control" disabled>
                                            {{range $states}}
                                            <option {{if eq .ID $stateID}}selected{{end}} value="{{.ID}}">{{.Name}}</option>
                                            {{end}}
                                        </select>
                                    </div>
                                    {{end}}
                                </div>
                                <div class="col-md-4 ">
                                    {{$provinces := .provinces}}
                                    {{with $field := field "data.Address.ProvinceID" .}}
                                    {{$provinceID := $field.Value}}
                                    <div class="form-group">
                                        <label>Provinsi</label>
                                        <select class="form-control" id="province" disabled>
                                            {{range $provinces}}
                                            <option {{if eq .ID $provinceID}}selected{{end}} value="{{.ID}}">{{.Name}}</option>
                                            {{end}}
                                        </select>
                                    </div>
                                    {{end}}
                                </div>
                                <div class="col-md-4">
                                    {{$cities := .cities}}
                                    {{with $field := field "data.Address.CityID" .}}
                                    {{$cityID := $field.Value}}
                                    <div class="form-group">
                                        <label>Kota</label>
                                        <select class="form-control" id="city" disabled>
                                            {{range $cities}}
                                            <option {{if eq .ID $cityID}}selected{{end}} value="{{.ID}}">{{.Name}}</option>
                                            {{end}}
                                        </select>
                                    </div>
                                    {{end}}
                                </div>
                            </div>
                            <div class="row">
                                <!--/span-->
                                <div class="col-md-4">
                                    {{with $field := field "data.Customer.Address.Kecamatan" .}}
                                    <div class="form-group">
                                        <label>Kecamatan</label>
                                        <input type="text" class="form-control" value="{{$field.Value}}" disabled> 
                                    </div>
                                    {{end}}
                                </div>
                                <div class="col-md-4">
                                    {{with $field := field "data.Customer.Address.Kelurahan" .}}
                                    <div class="form-group">
                                        <label>Kelurahan</label>
                                        <input type="text" class="form-control" value="{{$field.Value}}" disabled> 
                                    </div>
                                    {{end}}
                                </div>
                                <div class="col-md-2">
                                    {{with $field := field "data.Customer.Address.PostalCode" .}}
                                    <div class="form-group">
                                        <label>Kode Pos</label>
                                        <input type="text" class="form-control" value="{{$field.Value}}" disabled>
                                    </div>
                                    {{end}}
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->
                            <h3 class="box-title m-t-40">Jasa Kurir</h3>
                            <hr>
                            <div class="row">
                                <div class="col-md-4 ">
                                    <div class="form-group">
                                        <label>Kurir</label>
                                        <select id="courier" class="form-control" id="kurir" name="courier">
                                            <option {{if eq "jne" .CourierName}}selected{{end}} value="jne">JNE</option>
                                            <option {{if eq "pos" .CourierName}}selected{{end}} value="pos">POS Indonesia</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 ">
                                    <div class="form-group">
                                        <label>Jenis</label>
                                        <select id="courier-service" class="form-control" id="couriertype" name="courierType" disabled>
                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Berat</label>
                                        <div class="input-group">
                                            <input id="total-weight" type="number" class="form-control" min="10" name="weight"> 
                                            <span class="input-group-addon">gr</span> 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Ongkos Kirim</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">Rp</span> 
                                            <input id="order-ongkir" type="number" class="form-control order-ongkir" min="0" value="0" name="shippingCost"> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="box-title m-t-40">Total Harga</h3>
                            <hr>
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Total Harga Buku</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <span class="input-group-addon">Rp</span> 
                                                <input id="total-price" type="string" class="form-control" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="input-group">
                                                <input type="number" class="form-control order-discount" min="0" value="0" max="100"> 
                                                <span class="input-group-addon">%</span> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Kode Unik</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <input id="unique-code" type="number" value="{{.data.UniqueCode}}" class="form-control text-right unique-code" style="font-size:2rem; font-weight:bold;" disabled>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Total Bayar</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <span class="input-group-addon">Rp</span> 
                                                <input id="grand-total-price" type="string" class="form-control" disabled style="font-size:2rem; font-weight:bold; color:blue">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        <hr>
                        <br>
                        <div class="form-actions">
                            <button id="showConfirm" type="button" data-toggle="modal" data-target="#confirm-submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                            <a href='javascript:history.back()'><button type="button" class="btn btn-default">Cancel</button></a>
                        </div>
                    </form>

                    <div class="modal fade" id="confirm-submit" role="dialog" >
                        <div class="modal-dialog modal-md" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="exampleModalLabel1">Confirm order transaction</h4> </div>
                                <div class="modal-body">
                                    <p>Please check the transaction detail once again!</p>
                                    <table class="table">
                                        <tr><th>Name</th><td id="confirm-name">{{.data.Customer.Name}} <small>#{{.data.Customer.ID}}</small></td></tr>
                                        <tr><th>Channel</th><td id="confirm-channel">WA</td></tr>
                                        <tr><th>Order</th><td id="confirm-order">1 - Catatan Juang = Rp 75.000 <br> 1 - Konspirasi Alam Semesta = Rp 75.000 </td></tr>
                                        <tr><th>Address</th><td id="confirm-address">{{nl2br .data.Customer.Address.FormatedAddress}}</td></tr>
                                        <tr><th>Courier</th><td id="confirm-courier"></td></tr>
                                        <tr><th>Total</th><td id="confirm-total">123.000 + 10.000 = <b>Rp 133.000</b></td></tr>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <button id="confirmed" type="button" class="btn btn-primary">Confirm</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>

{{template "Template/footer.html" .}}
<script src="/public/components/custom-select/custom-select.min.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">

    $('document').ready(function() {
        calculateWeight();
        calculateShippingPrice();
        calculateTotal();
    });
    
    function addOrderField() {
        $("#order > .row:first-child").clone(true).insertAfter("#order > .row:last-child")
        calculateWeight();
        calculateShippingPrice();
        calculateTotal();
    }

    $(".delete-product").click( function() {
        if ($(this).parent().parent().parent().children().length > 1) {
            $(this).parent().parent().remove()
            calculateWeight();
            calculateShippingPrice();
            calculateTotal();
        }
    })

    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    }

    function priceToInt(x) {
        return parseInt( x.toString().replace(/[^0-9]/g, ''));
    }

    $(".product-select").change(function() {
        var qty = $(this).parent().parent().next().find(".product-qty").val();
        var singlepricenominal = this.options[this.selectedIndex].getAttribute('data-price');
        var singleprice = $(this).parent().parent().next().next().find(".product-singleprice");
        var price = $(this).parent().parent().next().next().next().find(".product-price");
        singleprice.val(numberWithCommas(singlepricenominal));
        calculateWeight();
        calculateShippingPrice();
        calculate(qty, singlepricenominal, price);
    });

    $(".product-qty").change(function() {
        var qty = $(this).val();
        var singlepricenominal = $(this).parent().parent().next().find("input.product-singleprice").val().toString().replace(".", "");
        var price = $(this).parent().parent().next().next().find(".product-price");
        calculateWeight();
        calculateShippingPrice();
        calculate(qty, singlepricenominal, price);
    });

    $('#courier').change(function(){
        calculateShippingPrice();
        calculateTotal();
    })

    $('#courier-service').change(function(){
        $('.order-ongkir').val($('#courier-service').val());
        calculateTotal();
    })

    $(".order-discount").change(function(){
        calculateTotal();
    });

    $(".order-ongkir").change(function(){
        calculateTotal();
    });

    $(".unique-code").change(function(){
        
        calculateTotal();
    });

    $('#showConfirm').click(function(){
        $('#confirm-channel').text($('#order-channel').val());
        $('#confirm-order').html("");
        order = "";
        $('.product-select').each(function(){
            var th= $(this);
            var name = $('option:selected', th).text();
            var qty = $(this).parent().parent().next().find(".product-qty").val();
            var price =  $(this).parent().parent().next().next().next().find(".product-price").val();
            order += qty + " - " + name.slice(0,30) + " = Rp " + price +"  <br>"
        });
        $('#confirm-order').html(order);
        courier = $('#courier');
        service = $('#courier-service');
        $('#confirm-courier').text($('option:selected', courier).html() + "-" + $('option:selected', service).html() + "-" + $('#total-weight').val() + "gr");
        shoppingPrice = $('#total-price').val();
        shippingCost = numberWithCommas($('#order-ongkir').val());
        uniqueCode = parseInt($('.unique-code').val());
        totalPrice = "Rp " + $('#grand-total-price').val();
        $('#confirm-total').html(shoppingPrice + " + " + shippingCost + " = <b>" + totalPrice + "</b>");
    });

    $("#confirmed").click(function(){
        $('#orderForm').submit();
    });

    function calculate(qty, singlepricenominal, total) {
        total.val(numberWithCommas(singlepricenominal * qty))
        calculateTotal();
    }

    function calculateWeight() {
        var totalWeight = 0;
        $('.product-select').each(function(){
            var th= $(this);
            var weight = $('option:selected', th).attr('data-weight');
            var qty = $(this).parent().parent().next().find(".product-qty").val();
            totalWeight = parseInt(totalWeight) + parseInt(weight*qty);
        });
        $('#total-weight').val(totalWeight);
    }

    function calculateShippingPrice() {
        var courier = $('#courier').val();
        var destination = $('#province').val();
        var weight = $('#total-weight').val();
        $('#courier-service').attr("disabled", true);
        $('#courier-service').empty();
        $.get( "/search/shipping/"+courier+"?destination="+destination+"&weight=" + weight, function( data ) {
            $.each(data, function (i, item) {
                slct = "";
                if (item.Cost == {{.data.CourierCost}}) {
                    slct = "selected";
                }
                $('#courier-service').append(('<option '+slct+' value="'+item.Cost+'" data-cost="'+item.Cost+'">' + item.Service + '</option>'));
            });
            $('#courier-service').attr("disabled", false);
            $('.order-ongkir').val($('#courier-service').val());
            calculateTotal();
        });
    }

    function calculateTotal() {
        var discount = $('.order-discount').val();
        var totalPrice = 0;
        $('.product-price').each(function(){
            var th= $(this);
            totalPrice += priceToInt(th.val());
        });
        ongkirPrice = parseInt($('.order-ongkir').val());

        uniqueCode = $('.unique-code').val();
        var lastTree = 0;
        if (uniqueCode.length == 1) {
            lastTree = "00"+ uniqueCode;    
        }
        else if (uniqueCode.length == 2) {
            lastTree = "0"+ uniqueCode;        
        }
        else {
            lastTree = uniqueCode.substr(uniqueCode.length -3);
        }
        $('.unique-code').val(lastTree);
        uniqueCode = parseInt(lastTree);
        
        // total
        totalPrice = totalPrice - (totalPrice*discount/100);
        grandTotalPrice = totalPrice + ongkirPrice + uniqueCode;
        $('#total-price').val(numberWithCommas(totalPrice));
        $('#grand-total-price').val(numberWithCommas(grandTotalPrice));
    }

</script>