{{set . "title" "Dashboard | Transaction History"}}
{{template "Template/header.html" .}}

<div class="page-wrapper">
    <div class="container-fluid">
        {{template "Template/flash.html" .}}  
        <!-- /row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <h3 class="box-title m-b-0">Order History</h3>
                    <p class="text-muted m-b-30">Canceled order and finished transactions</p>
                    <hr>  
                    <div class="table-responsive">
                    {{if not .data}}
                    <p>
                        Tidak ada data
                    </p>
                    {{else}}
                    <table id="myTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Channel</th>
                                <th>Nama</th>
                                <th>Tanggal Transaksi</th>
                                <th >Alamat Pengiriman</th>
                                <!-- <th>No Resi</th> -->
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range .data}}
                            <tr>
                                <td>{{.UniqueCode}}</td>
                                <td class="text-center">{{.Channel}}<br><small>{{.CustomerPhone}}</small></td>
                                <td>{{.CustomerName}}</td>
                                <td>{{.DateText}}</td>
                                <td ><small>{{raw .CustomerAddress}}</small></td>
                                <!-- <td>{{if eq .Resi ""}}
                                        Not Available
                                    {{else}}
                                        {{.Resi}}
                                    {{end}}
                                </td> -->
                                <td> <span class="label label-{{.StatusColor}} font-weight-100">{{.StatusText}}</span> </td>
                                <td class="text-center">
                                    
                                    <!-- <a href="#myModal{{.ID}}" data-toggle="modal"><i class="fa fa-edit"></i></a> &nbsp; -->
                                    <div class="modal fade md" id="myModal{{.ID}}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <form action="/dashboard/transaction/{{.ID}}/inputresi" method="POST">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        <h4 class="modal-title">Input Resi</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <input type="text" name="resi" class="form-control" placeholder="input resi here" value="{{.Resi}}" required>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer form-actions">
                                                        <button type="submit" class="btn btn-info">Submit</button>
                                                    </div>
                                                </form>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div><!-- /.modal -->
                                   
                                    <a href="/dashboard/transaction/{{.ID}}/view" class="text-inverse" data-toggle="tooltip" data-original-title="View Detail"><i class="fa fa-search"></i></a>
                                </td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                    {{end}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{template "Template/footer.html" .}}
<script type="text/javascript" charset="utf-8">
    $(function() {
        $('#myTable').DataTable({
            dom: 'Bfrtip',
            buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
        });
    }); 

    function deleteWriter(id) {
        sure = confirm('Are you sure want to delete this data?');
        if (sure) {
            document.getElementById('data-'+id).submit();   
        } else {
            return false;
        }
    }
</script>