{{set . "title" "Dashboard | New Order"}}
{{template "Template/header.html" .}}

<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-wrapper collapse in" aria-expanded="true">
                        <div class="panel-body">    
                            <h3 class="box-title m-b-0">New Order For Customer</h3>
                            <p class="text-muted m-b-30 font-13"> Search customer or fill the form for new customer </p>
                            <div class="row">
                                {{if or .errors .flash.error}}
                                <div class="row">
                                    <div class="col-xs-12 alert alert-danger">
                                        {{if .flash.error}}
                                            {{.flash.error}}
                                        {{end}}
                                        {{if .errors}}
                                        <ul style="margin-top:10px;">
                                            {{range .errors}}
                                                <li>{{.}}</li>
                                            {{end}}
                                        </ul>
                                        {{end}}
                                    </div>
                                </div>
                                {{end}}
                    
                                {{if .flash.success}}
                                <div class="row">
                                    <div class="col-xs-12 alert alert-success">
                                        {{.flash.success}}
                                    </div>
                                </div>
                                {{end}}
                                <div class="col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" id="search-customer" placeholder="Search by name or phone number"> 
                                    <hr>
                                    <form action="/dashboard/transaction/new" method="POST">
                                        <input type="hidden" name="uid" id="uid" value=""> 
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <div class="form-group">
                                                        <label for="exampleInputuname">Full Name</label>
                                                        {{with $field := field "data.Name" .}}
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="ti-user"></i></div>
                                                            <input type="text" class="form-control" id="customer-name" placeholder="Full Name" name="{{$field.Name}}" value="{{$field.Flash}}" required style="z-index:0"> 
                                                        </div>
                                                        {{end}}
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="form-group">
                                                        <label for="exampleInputuname">Phone</label>
                                                        {{with $field := field "data.Phone" .}}
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="icon-phone"></i></div>
                                                            <input class="form-control" id="customer-phone" placeholder="812...." name="{{$field.Name}}" value="+628" required style="z-index:0"> 
                                                        </div>
                                                        {{end}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{with $field := field "data.Street" .}}
                                                    <div class="form-group">
                                                        <label for="customer-street">Street Address</label>
                                                        <input type="text" class="form-control" id="customer-street" placeholder="Jalan ..." name="{{$field.Name}}" value="{{$field.Flash}}" required style="z-index:0"> 
                                                    </div>
                                                    {{end}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    {{$states := .states}}
                                                    {{with $field := field "data.StateID" .}}
                                                    <div class="form-group">
                                                        <label for="customer-state">State</label>
                                                        <select class="form-control" id="customer-state" name="{{$field.Name}}" required>
                                                            {{range $states}}
                                                            <option value="{{.ID}}" >{{.Name}}</option>
                                                            {{end}}
                                                        </select>
                                                    </div>
                                                    {{end}}
                                                </div>
                                                <div class="col-md-4">
                                                    {{$provinces := .provinces}}
                                                    {{with $field := field "data.ProvinceID" .}}
                                                    <div class="form-group">
                                                        <label for="province">Province</label>
                                                        <select class="form-control" id="customer-province" name="{{$field.Name}}">
                                                            <option disabled selected>Select</option>
                                                            {{range $provinces}}
                                                            <option value="{{.ID}}">{{.Name}}</option>
                                                            {{end}}
                                                        </select>
                                                    </div>
                                                    {{end}}
                                                </div>
                                                <div class="col-md-4">
                                                    {{$cities := .cities}}
                                                    {{with $field := field "data.CityID" .}}
                                                    <div class="form-group">
                                                        <label for="city">City</label>
                                                        <select class="form-control" id="customer-city" name="{{$field.Name}}">
                                                            <option disabled selected>Select</option>
                                                            {{range $cities}}
                                                            <option value="{{.ID}}">{{.Name}}</option>
                                                            {{end}}
                                                        </select>
                                                    </div>
                                                    {{end}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    {{with $field := field "data.Kecamatan" .}}
                                                    <div class="form-group">
                                                        <label for="customer-kecamatan">Kecamatan</label>
                                                        <input type="text" class="form-control" id="customer-kecamatan" name="{{$field.Name}}" value="{{$field.Flash}}"> 
                                                    </div>
                                                    {{end}}
                                                </div>
                                                <div class="col-md-4">
                                                    {{with $field := field "data.Kelurahan" .}}
                                                    <div class="form-group">
                                                        <label for="customer-kelurahan">Kelurahan</label>
                                                        <input type="text" class="form-control" id="customer-kelurahan" name="{{$field.Name}}" value="{{$field.Flash}}"> 
                                                    </div>
                                                    {{end}}
                                                </div>
                                                <div class="col-md-4">
                                                    {{with $field := field "data.PostalCode" .}}
                                                    <div class="form-group">
                                                        <label for="customer-postal-code">Postal Code</label>
                                                        <input type="text" class="form-control" id="customer-postal-code" name="{{$field.Name}}" value="{{$field.Flash}}" required> 
                                                    </div>
                                                    {{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
                                        <!-- <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button> -->
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{template "Template/footer.html" .}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.js"></script>
<script>
    $(function() {
        function bindData(customer) {
            $('#uid').val(customer.id);
            $('#customer-name').val(customer.name);
            $('#customer-phone').val(customer.phone);
            $('#customer-state').val(customer.state);
            $('#customer-street').val(customer.street);
            $('#customer-province').val(customer.province);
            $('#customer-city').val(customer.city);
            $('#customer-kecamatan').val(customer.kecamatan);
            $('#customer-kelurahan').val(customer.kelurahan);
            $('#customer-postal-code').val(customer.postal_code);
        }
        var options = {
            url: function(phrase) {
                        return "/search/customer/" + phrase;
                    },
            getValue: "name",
            template: {
            type: "custom",
                method: function(value, item) {
                    return item.name + "<br><small>" + item.phone + " - " + item.street +"</small>";
                }
            },
            list: {
                onChooseEvent: function() {
                    var customer = $("#search-customer").getSelectedItemData();
                    bindData(customer);
                    //window.location.href = "/dashboard/transaction/cust/"+customer.id+"/new";
                }	
            }
        };
        $("#search-customer").easyAutocomplete(options); 

        $('document').ready(function() {
            $('#customer-city').attr("disabled", true);
        });

        $("#customer-province").change(function(){
            var provinceId = $('#customer-province').val();
            $('#customer-city').empty();
            $.get( "/search/city/"+provinceId, function( data ) {
                $.each(data, function (i, item) {
                    var slct = "";
                    if ( i == 0) {
                        slct = "selected";
                    }
                    $('#customer-city').append(('<option '+slct+' value="'+item.city_id+'">' + item.city_name + ' ('+item.type+')</option>'));
                });
                $('#customer-city').attr("disabled", false);
            });
        });

    });
</script>