{{set . "title" "Dashboard | Transaction On Process"}}
{{template "Template/header.html" .}}

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- /row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <h3 class="box-title m-b-0">Ready to Print Order</h3>
                    <hr>  
                    <div class="table-responsive">
                    {{if not .data}}
                    <p>
                        Tidak ada data
                    </p>
                    {{else}}
                    <div class="text-right">  
                        <button type="button" class="btn btn-outline btn-primary" data-toggle="modal" data-target="#myModal" >Change Status</button>
                        &nbsp;&nbsp;
                        <a href="/dashboard/transaction/print/execute" target="_blank"><button class="btn btn-info waves-effect waves-light"><span>Print All</span> <i class="fa fa-print m-l-5"></i></button></a>
                        &nbsp;&nbsp;
                        <a href="#"  onclick="return confirmFinish()"><button class="btn btn-primary waves-effect waves-light"><span>Finish Printing</span> &nbsp;<i class="ti-package"></i></button></a>
                        <form id="data-finish-print" action="/dashboard/transaction/finishprint" method="POST">
                        </form>
                    </div>
                    <br>
                    <table id="myTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Kode Unik</th>
                                <th>Nama</th>
                                <th>Address</th>
                                <th>Phone</th>
                                <th>Product</th>    
                                <th>Courier</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range $i, $item := .data}}
                                <tr>
                                    <td>{{.UniqueCode}}</td>
                                    <td>{{.CustomerName}}</td>
                                    <td>{{raw .CustomerAddress}}</td>
                                    <td>{{.CustomerPhone}}</td>
                                    <td>{{range .ProductName }} - {{.}} <br>{{end}}</td>
                                    <td>{{.CourierName}} {{.CourierService}}</td>
                                    <td class="text-center">
                                        <a href="/dashboard/transaction/{{.ID}}/view" class="text-inverse" data-toggle="tooltip" data-original-title="View Detail"><i class="fa fa-search"></i></a>
                                    </td>
                                </tr>
                            {{end}}
                        </tbody>
                    </table>
                    {{end}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{template "Template/footer.html" .}}
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header panel-info"><h4 class="modal-title">Change Status</h4></div>
        <form class="form-horizontal" action="/dashboard/transaction/changestatus" method="POST">
            <br>
            <div class="form-group">
                <label class="col-sm-3 control-label">Book</label>
                <div class="col-sm-6">
                    <select class="form-control select2" name="BookCode">
                        {{range .book}}
                            <option value="{{.Code}}">{{.Title}}</option>
                        {{end}}                                               
                    </select>
                </div>
            </div>     
            <div class="form-group">
                <label class="col-sm-3 control-label">Status</label>
                <div class="col-sm-6">
                    <select class="form-control select2" name="StatusAwal">
                        <!-- <option value="0">Batal</option>
                        <option value="1">Menunggu konfirmasi pembayaran</option>
                        <option value="2">Customer telah melakukan pembayaran</option>
                        <option value="3">Pembayaran telah dikonfirmasi</option>
                        <option value="4">PreOrder - Pembayaran telah dikonfirmasi</option> -->
                        <option value="5">Label alamat telah dicetak</option>                    
                        <option value="6">Sedang dalam pengiriman</option>
                    </select>
                    ke
                    <select class="form-control select2" name="StatusTujuan">
                        <option value="0">Batal</option>
                        <option value="1">Menunggu konfirmasi pembayaran</option>
                        <option value="2">Customer telah melakukan pembayaran</option>
                        <option value="3">Label alamat siap cetak</option>
                        <option value="4">PreOrder - Label alamat siap cetak</option>
                        <!-- <option value="5">Label alamat telah dicetak</option>                    
                        <option value="6">Sedang dalam pengiriman</option> -->
                    </select>
                </div>
            </div>                      
            <div class="modal-footer"> 
                <button type="submit" onclick="return Validate()" class="btn btn-success waves-effect waves-light">Submit</button>
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
            </div>
        </form>
        </div>
    </div>
</div>
<!-- /.change status -->

<script type="text/javascript" charset="utf-8">
    $(function() {
        $('#myTable').DataTable({
            dom: 'Bfrtip',
            buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
        });
    }); 

    function confirmFinish() {
        sure = confirm('Have you print all the address successfully?');
        if (sure) {
            document.getElementById('data-finish-print').submit();   
        } else {
            return false;
        }
    }

</script>