<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Bukku - Print address label</title>
        <style type='text/css'>
            body {
                width: 208mm;
                margin: 8mm 2mm;
            }
            .label{
                width: 90mm; 
                height: 38mm;
                padding: 3mm 5mm 0;
                margin-right: 1.5mm;
                margin-left: 2mm;
                float: left;

                text-align: center;
                overflow: hidden;

                outline: 0px dotted;
            }
            .page-break  {
                clear: left;
                display:block;
                page-break-after:always;
            }
        </style>

    </head>

    <body onload="window.print()">
        {{$count := .size}}
        {{range $i, $item := .data}}

        {{if neq $i 0}}
            {{if is_mul $count $i}}
            <div class="page-break"></div>
            {{end}}
        {{end}}

        <div class="label">
            <small>
            <b>{{.CustomerName}}</b>
            <br> {{raw .CustomerAddress}} <b>Ph.{{.CustomerPhone}}</b>
            <br>{{.CourierName}} {{.CourierService}} - 
            {{range .ProductCode}} {{.}} {{end}}</small>
        </div>
        
        {{end}}

    </body>

</html>