{{set . "title" "Dashboard | Transaction On Process"}}
{{template "Template/header.html" .}}

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- /row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <h3 class="box-title m-b-0">On Process Order</h3>
                    <p class="text-muted m-b-30">
                    <span class="label label-warning font-weight-100">Waiting for payment</span> > 
                    <span class="label label-info font-weight-100">Confirmed by customer (web)</span> > 
                    <span class="label label-primary font-weight-100">Ready to label</span>
                    <div class="text-right">  
                        <button type="button" class="btn btn-outline btn-primary" data-toggle="modal" data-target="#myModal" >Change Status</button>
                    </div>

                    <p>Show all unconfirmed or unsent orders</p>

                    <hr>  
                    <div class="table-responsive">
                    {{if not .data}}
                    <p>
                        Tidak ada data
                    </p>
                    {{else}}
                    <table id="myTable" class="table table-striped">
                        <thead>
                            <tr>
                              
                                <th>Order ID</th>
                                <th>Tanggal Transaksi</th>
                                <th>Channel</th>
                                <th>Nama</th>
                                <th>Product</th>
                                <th>Periode</th>
                                <th class="text-center">Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range $i, $item := .data}}
                                <tr>
                                    <td>{{.UniqueCode}}</td>
                                    <td>{{.DateText}}</td>
                                    <td class="text-center">{{.Channel}}<br><small>{{.CustomerPhone}}</small></td>
                                    <td>{{.CustomerName}}</td>
                                    <td>{{range .ProductName}} - {{.}} <br>{{end}}</td>
                                    <td>{{.ProductCategory}}</td>
                                    <td> <span class="label label-{{.StatusColor}} font-weight-100" data-toggle="tooltip" data-original-title="{{.StatusDesc}}">{{.StatusText}}</span> </td>
                                    <td class="text-center" style="width: 15%">
                                        <form id="data-{{.ID}}" action="/dashboard/transaction/{{.ID}}/delete" method="POST">
                                            <input type="hidden" value="{{.ID}}" name="id">
                                        </form>
                                         {{if eq .Status 1}} <!-- menunggu pembayaran -->
                                            <a href="#" class="text-inverse p-r-10" title="" data-toggle="tooltip" data-original-title="Delete" onclick="return deleteTransaction({{.ID}})"><i class="ti-trash" style="color:red"></i></a>
                                            <!-- <a href="/dashboard/transaction/{{.ID}}/edit" class="text-inverse" data-toggle="tooltip" title="" data-original-title="Edit"><i class="ti-marker-alt" style="color:green"></i></a>&nbsp; -->
                                            <a href="#" class="text-inverse" data-toggle="tooltip" title="" data-original-title="Detail"><i class="ti-search"></i></a>
                                            <!-- <a href="#" class="text-inverse p-l-10" data-toggle="tooltip" title="" data-original-title="Payment Confirmation" onclick="return confirmUserPaid({{.ID}})"><i class="ti-money" style="color:blue"></i></a>-->
                                            <a href="#modalConfirm{{.ID}}" data-toggle="modal" class="text-inverse p-l-10" data-original-title="Payment Confirmation"><i class="ti-money" style="color:blue"></i></a>  
                                            <!-- <form id="data-pay-{{.ID}}" action="/dashboard/transaction/{{.ID}}/pay" method="POST">
                                                <input type="hidden" value="{{.ID}}" name="id">
                                            </form> -->
                                        {{end}}
                                        {{if eq .Status 2}}
                                            <a href="#" class="text-inverse p-l-10" data-toggle="tooltip" title="" data-original-title="Confirm" onclick="return confirmUserPaid({{.ID}})"><i class="ti-check" style="color:blue"></i></a>
                                            <form id="data-pay-{{.ID}}" action="/dashboard/transaction/{{.ID}}/pay" method="POST">
                                                <input type="hidden" value="{{.ID}}" name="id">
                                            </form>
                                        {{end}}
                                        {{if eq .Status 3}}
                                            <a href="#" class="text-inverse p-l-10" data-toggle="tooltip" title="" data-original-title="Send Order Today" onclick="return packOrder({{.ID}})"><i class="ti-package" style="color:blue"></i></a>
                                            <form id="data-pack-{{.ID}}" action="/dashboard/transaction/{{.ID}}/pack" method="POST">
                                                <input type="hidden" value="{{.ID}}" name="id">
                                            </form>
                                        {{end}} 
                                        {{if eq .Status 4}}
                                            <a href="#" class="text-inverse" data-toggle="tooltip" title="" data-original-title="Detail"><i class="ti-search"></i></a>
                                            <a href="#" class="text-inverse p-l-10" data-toggle="tooltip" title="" data-original-title="Print Label" onclick="return confirmUserPaid({{.ID}})"><i class="ti-printer" style="color:blue"></i></a>
                                            <form id="data-pay-{{.ID}}" action="/dashboard/transaction/{{.ID}}/pay" method="POST">
                                                <input type="hidden" value="{{.ID}}" name="id">
                                            </form>
                                        {{end}}
                                        
                                        
                                        <!-- <a href="#modalConfirm{{.ID}}" data-toggle="modal"><i class="fa fa-edit"></i></a> &nbsp; -->
                                        <div class="modal fade md" id="modalConfirm{{.ID}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                            <form class="form-horizontal" action="/dashboard/transaction/{{.ID}}/pay" method="POST">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                            <h4 class="modal-title">Payment Confirmation</h4>
                                                        </div>
                                                        <br>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Transfer To</label>
                                                            <div class="col-sm-6">
                                                                <select class="form-control" name="BankBukku">
                                                                    {{range $.banks}}
                                                                    <option value="{{.BankCode}}">{{.BankName}}</option>
                                                                    {{end}}
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Transfer From</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" name="BankFrom" placeholder="Bank Name">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Account Name</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" name="AccountName" placeholder="Account Owner">
                                                            </div>
                                                        </div>                                                    
                                                        <div class="modal-footer">
                                                            <button type="submit" class="btn btn-info">Confirm</button>
                                                        </div>                                                  
                                                    </div><!-- /.modal-content -->
                                                </div><!-- /.modal-dialog -->
                                            </form>
                                        </div><!-- /.modal -->
                                    </td>
                                </tr>
                            {{end}}
                        </tbody>
                    </table>
                    {{end}}
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>

{{template "Template/footer.html" .}}
<!-- /.modal change status-->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header panel-info"><h4 class="modal-title">Change Status</h4></div>
        <form class="form-horizontal" action="/dashboard/transaction/changestatus" method="POST">
            <br>
            <div class="form-group">
                <label class="col-sm-3 control-label">Book</label>
                <div class="col-sm-6">
                    <select class="form-control select2" name="BookCode">
                        {{range .book}}
                            <option value="{{.Code}}">{{.Title}}</option>
                        {{end}}                                               
                    </select>
                </div>
            </div>     
            <div class="form-group">
                <label class="col-sm-3 control-label">Status</label>
                <div class="col-sm-6">
                    <select class="form-control select2" name="StatusAwal">
                        <option value="0">Batal</option>
                        <option value="1">Menunggu konfirmasi pembayaran</option>
                        <option value="2">Customer telah melakukan pembayaran</option>
                        <option value="4">PreOrder - telah melakukan pembayaran</option>
                        
                        <option value="3">Siap cetak label</option>
                        <!-- <option value="5">Label alamat telah dicetak</option> -->
                        <!-- <option value="6">Sedang dalam pengiriman</option> -->
                    </select>
                    ke
                    <select class="form-control select2" name="StatusTujuan">
                        <option value="0">Batal</option>
                        <option value="1">Menunggu konfirmasi pembayaran</option>
                        <option value="2">Customer telah melakukan pembayaran</option>
                        <option value="4">PreOrder - telah melakukan pembayaran</option>
                        
                        <option value="3">Siap cetak label</option>
                        <option value="5">Dalam proses pengiriman</option>                    
                        <!-- <option value="6">Sedang dalam pengiriman</option> -->
                    </select>
                </div>
            </div>                      
            <div class="modal-footer"> 
                <button type="submit" onclick="return Validate()" class="btn btn-success waves-effect waves-light">Submit</button>
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
            </div>
        </form>
        </div>
    </div>
</div>
<!-- /.change status -->

<script type="text/javascript" charset="utf-8">
    $(function() {
        $('#myTable').DataTable({
            "order" : [[1, "desc"]]
        });
    }); 

    function deleteTransaction(id) {
        sure = confirm('Are you sure want to delete this data?');
        if (sure) {
            document.getElementById('data-'+id).submit();   
        } else {
            return false;
        }
    }

    function confirmUserPaid(id) {
        sure = confirm('Are you sure that user already pay this order?');
        if (sure) {
            document.getElementById('data-pay-'+id).submit();   
        } else {
            return false;
        }
    }

    function packOrder(id) {
        sure = confirm('Are you want to pack this order today?');
        if (sure) {
            document.getElementById('data-pack-'+id).submit();   
        } else {
            return false;
        }
    }

    function sendOrder(id) {
        sure = confirm('Are you sure this order have been packed and ready to send?');
        if (sure) {
            document.getElementById('data-send-'+id).submit();   
        } else {
            return false;
        }
    }

</script>