{{set . "title" "Dashboard | New Order"}}
{{template "Template/header.html" .}}

<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="white-box">
                    <h3 class="box-title m-b-0">#{{.data.ID}} Transaction Detail</h3>
                    <p class="text-muted m-b-30 font-13"> Date {{.data.Date}}</p>
                    
                    <table>
                        <tr><th>{{pad "Customer" 30}}</th><td>{{.data.CustomerID}}</td></tr>
                        <tr><th>Channel</th><td>{{.data.Channel}}</td></tr>
                        <tr><th>Courier</th><td>{{.data.CourierName}} {{.data.CourierService}}</td></tr>
                        <tr>
                            <th>Item</th>
                            <td>
                                {{range .data.Detail}}
                                    {{.Qty}} {{.ProductCode}} {{.TotalPrice}} <br>
                                {{end}}
                            </td>
                        </tr>
                        <tr><th>Total Price</th><td>{{.data.TotalPrice}}</td></tr>
                        <tr><th>Promo Code</th><td>{{.data.PromoCode.Value}}</td></tr>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>


{{template "Template/footer.html" .}}