{{set . "title" "Role Data"}}
{{template "Template/header.html" .}}

<!-- Page Content -->
<div class="page-wrapper">
    <div class="container-fluid">
        {{template "Template/flash.html" .}}
        <!-- /row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Master Data User Profile</div>
                    <div class="panel-wrapper collapse in" aria-expanded="true">
                        <div class="panel-body">
                            <!-- Button trigger modal -->
                            <div class="text-right">  
                                <button type="button" class="btn btn-outline btn-primary">New Profile</button>
                            </div>
                            <div class="table-responsive">
                            {{if not .data}}
                                <p class="text-center">
                                    No data
                                </p>
                            {{else}}                        
                                <table id="myTable" class="table table-responsive" role="grid">
                                    <thead class="panel panel-info">
                                        <tr>
                                            <th>Profile Code</th>
                                            <th>Profile Name</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{range .data}}
                                            <tr>
                                                <td>{{.RoleCode}}</td>
                                                <td>{{.RoleName}}</td>
                                                <td class="text-center">
                                                    {{if .IsActive}}
                                                        <form id="data-{{.RoleCode}}" action="/role/{{.RoleCode}}/delete" method="POST">
                                                            <input type="hidden" value="{{.RoleCode}}" name="id">
                                                        </form> 
                                                        <a href="#" class="text-inverse p-r-10" title="" data-toggle="tooltip" data-original-title="Delete" onclick="return deleteRole({{.RoleCode}})"><i class="ti-trash" style="color:red"></i></a>
                                                    {{else}}
                                                        <form id="data-{{.RoleCode}}" action="/role/{{.RoleCode}}/reactive" method="POST">
                                                            <input type="hidden" value="{{.RoleCode}}" name="id">
                                                        </form> 
                                                        <a href="#" class="text-inverse p-r-10" title="" data-toggle="tooltip" data-original-title="Reactive" onclick="return reactiveRole({{.RoleCode}})"><i class="icon-reload" style="color:blue"></i></a>
                                                    {{end}}
                                                    <a href="/role/{{.RoleCode}}/edit" class="text-inverse" data-toggle="tooltip" title="" data-original-title="Edit"><i class="ti-marker-alt" style="color:green"></i></a>
                                                </td>
                                            </tr>
                                        {{end}}
                                    </tbody>
                                </table>
                            {{end}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
</div>                 

{{template "Template/footer.html"}}
<script type="text/javascript" charset="utf-8">
    function Validate() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("password-confirmation").value;
        if (password != confirmPassword) {
            alert("Passwords do not match.");
            return false;
        }
        return true;
    }

    function deleteRole(id) {
        sure = confirm('Are you sure want to delete this data?');
        if (sure) {
            document.getElementById('data-'+id).submit();   
        } else {
            return false;
        }
    }

    function reactiveRole(id) {
        sure = confirm('Are you sure want to re-active this data?');
        if (sure) {
            document.getElementById('data-'+id).submit();   
        } else {
            return false;
        }
    }

    $(function() {
        $('#myTable').DataTable();
    });    
</script>

<script src="/public/cubic/plugins/components/styleswitcher/jQuery.style.switcher.js"></script>