{{set . "title" "User Data"}}
{{template "Template/header.html" .}}

<!-- Page Content -->
<div class="page-wrapper">
    <div class="container-fluid">
        {{template "Template/flash.html" .}}
        <!-- /row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Master Data User</div>
                    <div class="panel-wrapper collapse in" aria-expanded="true">
                        <div class="panel-body">

                        
                        <!-- Button trigger modal -->
                        <div class="text-right">  
                            <button type="button" class="btn btn-outline btn-primary" data-toggle="modal" data-target="#modal-user">New User</button>
                        </div>
                        <div class="table-responsive">
                        {{if not .data}}
                            <p class="text-center">
                                No data
                            </p>
                        {{else}}                        
                            <table id="myTable" class="table table-responsive" role="grid">
                                <thead class="panel panel-info">
                                    <tr>
                                        <th>Nama Lengkap</th>
                                        <th>Username</th>
                                        <th>Role</th>
                                        <!-- <th>Cabang</th> -->
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{range .data}}
                                        <tr>
                                            <td>{{.FullName}}</td>
                                            <td>{{.Username}}</td>
                                            <td>{{.RoleName}}</td>
                                            <!-- <td>{{.BranchName}}</td> -->
                                            <td class="text-center">
                                                {{if .IsActive}}
                                                    <form id="data-{{.ID}}" action="/user/{{.ID}}/delete" method="POST">
                                                        <input type="hidden" value="{{.ID}}" name="id">
                                                    </form> 
                                                    <a href="#" class="text-inverse p-r-10" title="" data-toggle="tooltip" data-original-title="Delete" onclick="return deleteUser({{.ID}})"><i class="ti-trash" style="color:red"></i></a>
                                                {{else}}
                                                    <form id="data-{{.ID}}" action="/user/{{.ID}}/reactive" method="POST">
                                                        <input type="hidden" value="{{.ID}}" name="id">
                                                    </form> 
                                                    <a href="#" class="text-inverse p-r-10" title="" data-toggle="tooltip" data-original-title="Reactive" onclick="return reactiveUser({{.ID}})"><i class="icon-reload" style="color:blue"></i></a>
                                                {{end}}
                                                <a href="/user/{{.ID}}/edit" class="text-inverse" data-toggle="tooltip" title="" data-original-title="Edit"><i class="ti-marker-alt" style="color:green"></i></a>
                                            </td>
                                        </tr>
                                    {{end}}
                                </tbody>
                            </table>
                        {{end}}
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- /.modal user-->
        <div id="modal-user" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header panel-success"><h4 class="modal-title">Create New User</h4></div>
                <form class="form-horizontal" action="/user/create" method="POST">
                    <br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Branch</label>
                        <div class="col-sm-6">
                            <select class="form-control select2" name="BranchCode">
                                {{range .kota}}
                                    <option value="{{.ID}}">{{.Name}}</option>
                                {{end}}                                               
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Role</label>
                        <div class="col-sm-6">
                            <select class="form-control select2" name="RoleCode">
                                {{range .roles}}
                                    <option value="{{.RoleCode}}">{{.RoleName}}</option>
                                {{end}}                                               
                            </select>
                        </div>
                    </div>
                    {{with $field := field "data.FullName" .}}
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Nama Lengkap</label>
                        <div class="col-sm-6">                            
                            <input type="text" name="{{$field.Name}}" value="{{$field.Flash}}" class="form-control" required="required">                            
                        </div>
                    </div>
                    {{end}}
                    {{with $field := field "data.Username" .}}
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Username</label>
                        <div class="col-sm-6">                                        
                                <input type="text" name="{{$field.Name}}" value="{{$field.Flash}}" class="form-control"  required> 
                        </div>
                    </div>
                    {{end}}
                    {{with $field := field "data.Password" .}}
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Password</label>
                        <div class="col-sm-6">
                            <input type="password" id="password" name="{{$field.Name}}" value="{{$field.Flash}}" class="form-control" minlength="6" required> 
                        </div>
                    </div>
                    {{end}}
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Konfirmasi Password</label>
                        <div class="col-sm-6">
                            <input type="password" id="password-confirmation" class="form-control" minlength="6" required> 
                        </div>
                    </div>                            
                    <div class="modal-footer"> 
                        <button type="submit" onclick="return Validate()" class="btn btn-success waves-effect waves-light">Submit</button>
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
        <!-- /.user -->
    </div>
</div>                 

{{template "Template/footer.html"}}
<script type="text/javascript" charset="utf-8">
    function Validate() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("password-confirmation").value;
        if (password != confirmPassword) {
            alert("Passwords do not match.");
            return false;
        }
        return true;
    }

    function deleteUser(id) {
        sure = confirm('Are you sure want to delete this data?');
        if (sure) {
            document.getElementById('data-'+id).submit();   
        } else {
            return false;
        }
    }

    function reactiveUser(id) {
        sure = confirm('Are you sure want to re-active this data?');
        if (sure) {
            document.getElementById('data-'+id).submit();   
        } else {
            return false;
        }
    }

    $(function() {
        $('#myTable').DataTable();
    });    
</script>

<script src="/public/cubic/plugins/components/styleswitcher/jQuery.style.switcher.js"></script>