{{set . "title" "User Data | Edit "}}
{{template "Template/header.html" .}}

<div class="page-wrapper">
    <div class="container-fluid">
        {{template "Template/flash.html" .}}  
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-wrapper collapse in" aria-expanded="true">
                        <div class="panel-body">
                            <form action="/user/{{.u.ID}}/save" method="POST" enctype="multipart/form-data">
                                <div class="form-body">
                                    <h3 class="box-title"><i class="icon-user"></i> User Info</h3>
                                    <hr>
                                    <!--/row-->
                                    <h3 class="box-title m-t-40">User Image</h3>
                                    <div class="row">
                                        <div class="col-sm-6 ol-md-6 col-xs-12">
                                            {{with $field := field "u.URLProfile" .}}
                                            <div class="white-box">
                                                <label for="profileImage">Profile Image</label>
                                                <input type="file" name="profileImage" id="profileImage" data-default-file="{{$field.Value}}" class="dropify" accept="image/*"/>
                                            </div>
                                            {{end}}
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{with $field := field "u.Username" .}}
                                            <div class="form-group">
                                                <label class="control-label">Username</label>
                                                <input type="text" class="form-control" name="{{$field.Name}}" value="{{$field.Value}}" readonly>
                                            </div>
                                            {{end}}
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Reset Password</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{with $field := field "u.FullName" .}}
                                            <div class="form-group">
                                                <label class="control-label">Nama Lengkap</label>
                                                <input type="text" class="form-control" name="{{$field.Name}}" value="{{$field.Value}}" required>
                                                <span class="error">{{$field.Error}}</span>
                                            </div>
                                            {{end}}
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Role</label>
                                                <select class="form-control select2" name="RoleCode">
                                                    {{$roleCode := .u.Role}}
                                                    {{range .roles}}
                                                        <option {{if eq .RoleCode $roleCode}}selected{{end}} value="{{.RoleCode}}">{{.RoleName}}</option>
                                                    {{end}}                                               
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                                <hr>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                                    <a href="/user">
                                        <button type="button" class="btn btn-default">Cancel</button>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{template "Template/footer.html" .}}
<script src="/public/components/dropify/dist/js/dropify.min.js"></script>
<script src="/public/components/moment/moment.js"></script>
<script src="/public/components/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="/public/components/timepicker/bootstrap-timepicker.min.js"></script>
<script src="/public/components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/public/components/custom-select/custom-select.min.js" type="text/javascript"></script>
<script src="/public/components/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
<script type="text/javascript" charset="utf-8">
    $(function() {
        $('.dropify').dropify();
    });    
</script>