{{set . "title" "Dashboard | Book"}}
{{template "Template/header.html" .}}

<div class="page-wrapper">
    <div class="container-fluid">
        {{template "Template/flash.html" .}}
        
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Master Book Data</div>
                    <div class="panel-wrapper collapse in" aria-expanded="true">
                        <div class="panel-body">
                            <div class="text-right">
                                <a href="/dashboard/master/book/new">
                                    <button type="button" class="btn btn-outline btn-primary">New Book</button>
                                </a>
                            </div>
                            <hr>
                            <div class="table-responsive">
                                {{if not .data}}
                                <p class="text-center">
                                    No data
                                </p>
                                {{else}}
                                <table id="bookTable" class="table">
                                    <thead>
                                        <tr>
                                            <th>Book ID</th>
                                            <th>Main Photo</th>
                                            <th>Title</th>
                                            <th>Writer</th>
                                            <th>Publisher</th>
                                            <th>Normal Price</th>
                                            <th>Stock</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{range .data}}
                                        <tr>
                                            <td>#{{.Code}}</td>
                                            <td> <img src="{{.MainImage.String}}" alt="{{.Title}}" width="100" height="130"> </td>
                                            <td>{{.Title}}</td>
                                            <td>
                                                {{range .WriterName}}
                                                    {{.}} <br>
                                                {{end}}
                                            </td>
                                            <td>{{.PublisherName}}</td>
                                            <td>{{.PriceFormat}}</td>
                                            <td>{{.Stock}}</td>
                                           
                                            <td> {{if .IsActive }}
                                                    Active
                                                {{else}}
                                                    Deactive
                                                {{end}}
                                            </td>
                                            <td class="text-center">
                                                {{if .IsActive}}
                                                    <form id="data-{{.Code}}" action="/dashboard/master/book/{{.Code}}/delete" method="POST">
                                                        <input type="hidden" value="{{.Code}}" name="id">
                                                    </form>
                                                    <a href="#" class="text-inverse p-r-10" title="" data-toggle="tooltip" data-original-title="Delete" onclick="return deleteBook({{.Code}})"><i class="ti-trash" style="color:red"></i></a>
                                                {{else}}
                                                    <form id="data-{{.Code}}" action="/dashboard/master/book/{{.Code}}/reactive" method="POST">
                                                        <input type="hidden" value="{{.Code}}" name="id">
                                                    </form>
                                                    <a href="#" class="text-inverse p-r-10" title="" data-toggle="tooltip" data-original-title="Reactive" onclick="return reactiveBook({{.Code}})"><i class="icon-reload" style="color:blue"></i></a>
                                                {{end}}
                                                <a href="/dashboard/master/book/{{.Code}}/edit" class="text-inverse" data-toggle="tooltip" title="" data-original-title="Edit"><i class="ti-marker-alt" style="color:green"></i></a>
                                            </td>
                                        </tr>
                                        {{end}}
                                    </tbody>
                                </table>
                                {{end}}
                            </div>                  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>

{{template "Template/footer.html"}}
<script type="text/javascript" charset="utf-8">
    $(function() {
        $('#bookTable').DataTable();
    }); 

    function deleteBook(id) {
        sure = confirm('Are you sure want to delete this data?');
        if (sure) {
            document.getElementById('data-'+id).submit();   
        } else {
            return false;
        }
    }

    function reactiveBook(id) {
        sure = confirm('Are you sure want to reactive this data?');
        if (sure) {
            document.getElementById('data-'+id).submit();   
        } else {
            return false;
        }
    }
</script>