{{set . "title" "Dashboard | Book Edit"}}
{{template "Template/header.html" .}}

<div class="page-wrapper">
    <div class="container-fluid">
        {{template "Template/flash.html" .}}

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Edit Book Data</div>
                    <div class="panel-wrapper collapse in" aria-expanded="true">
                        <div class="panel-body">            
                            <form action="/dashboard/master/book/{{.data.Code}}/save" method="POST" enctype="multipart/form-data">
                                <div class="form-body">
                                    <h3 class="box-title">About Book</h3>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-3">
                                            {{with $field := field "data.Code" .}}
                                            <div class="form-group">
                                                <label class="control-label">Book Code</label>
                                                <input type="text" name="{{$field.Name}}" class="form-control" style="text-transform:uppercase" value="{{$field.Value}}" readonly>
                                                <span class="error">{{$field.Error}}</span>
                                                <small>New book code must be different from other book</small>
                                            </div>
                                            {{end}}
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-9">
                                            {{with $field := field "data.Title" .}}
                                            <div class="form-group">
                                                <label class="control-label">Book Title</label>
                                                <input type="text" name="{{$field.Name}}" class="form-control" required  value="{{$field.Value}}">
                                                <span class="error">{{$field.Error}}</span>
                                            </div>
                                            {{end}}
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-3">                                           
                                            <label>Category</label>
                                            <select class="select2 form-control" name="ProductCategory">
                                                {{$productCode := .data.Category}}
                                                {{range .productcategory}}
                                                <option {{if eq .Value $productCode}}selected{{end}} value="{{.Value}}">{{.Text}}</option>                    
                                                {{end}}
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Book Category</label>
                                            <select class="select2 form-control" name="BookCategory">
                                                {{$categoryCode := .data.BookCategory}}
                                                {{range .bookcategory}}
                                                <option {{if eq .Code $categoryCode}}selected{{end}} value="{{.Code}}">{{.Name}}</option>                    
                                                {{end}}                                                   
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            {{with $field := field "data.Genre" .}}
                                            <div class="form-group">
                                                <label class="control-label">Genre</label>
                                                <input type="text" name="{{$field.Name}}" class="form-control" required  value="{{$field.Value}}" data-role="tagsinput">
                                                <small>Separate with comma for multiple genres</small>
                                                <span class="error">{{$field.Error}}</span>
                                            </div>
                                            {{end}}
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label class="control-label">Writer</label>
                                                <select class="select2 m-b-10 select2-multiple" multiple="multiple" name="WriterCode" data-placeholder="Choose writer" required>
                                                    <option disabled selected value> -- select writer -- </option>
                                                    {{$writerCode := .data.WriterCode}}
                                                    {{range .writers}}
                                                    <option {{if member_string .Code $writerCode}}selected{{end}} value="{{.Code}}">{{.Name}}</option>
                                                    {{end}}
                                                </select>
                                            </div>
                                        </div>  
                                        <div class="col-md-4">
                                            <label class="control-label">Publisher</label>
                                            <select class="select2 form-control" required name="PublisherCode">
                                                <option disabled selected value> -- select a publisher  -- </option>
                                                {{$publisherCode := .data.PublisherCode}}
                                                {{range .publishers}}
                                                <option {{if eq .Code $publisherCode}}selected{{end}} value="{{.Code}}">{{.Name}}</option>
                                                {{end}}
                                            </select>
                                        </div>
                                    </div>
                                    <small>If desired data not exist in options, please insert the <a href="/dashboard/master/publisher/new">publisher</a> or the <a href="/dashboard/master/writer/new">writer</a> first!</small>
                                    
                                    <div class="row">
                                        <div class="col-md-12 ">
                                            {{with $field := field "data.Notes" .}}
                                            <div class="form-group">
                                                <label class="control-label">Additional Notes</label>
                                                <textarea class="form-control" rows="2" name="{{$field.Name}}">{{$field.Value}}</textarea>
                                            </div>
                                            {{end}}
                                        </div>
                                    </div>

                                    <!--/row-->
                                    <h3 class="box-title m-t-40">Book Image</h3>
                                    <div class="row">
                                        <div class="col-sm-6 ol-md-6 col-xs-12">
                                            {{with $field := field "data.MainImage" .}}
                                            <div class="white-box">
                                                <label for="mainImage">Main Image</label>
                                                <input type="file" name="mainImage" id="mainImage" data-default-file="{{$field.Value}}" class="dropify" accept="image/*"/>
                                            </div>
                                            {{end}}
                                        </div>
                                        <div class="col-sm-6 ol-md-6 col-xs-12">
                                            {{with $field := field "data.AdditionalImage1" .}}
                                            <div class="white-box"> 
                                                <label for="additionalImage1">Additional Image 1</label>
                                                <input type="file" name="additionalImage1" data-default-file="{{$field.Value}}" class="dropify" accept="image/*"/>
                                            </div>
                                            {{end}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 ol-md-6 col-xs-12">
                                            <div class="white-box">
                                                {{with $field := field "data.AdditionalImage2" .}}
                                                <label for="additionalImage1">Additional Image 2</label>
                                                <input type="file" name="additionalImage2" data-default-file="{{$field.Value}}" class="dropify" accept="image/*"/>
                                                {{end}}
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="box-title m-t-40">Book Description</h3>
                                    <div class="row">
                                        <div class="col-md-12 ">
                                            {{with $field := field "data.Synopsis" .}}
                                            <div class="form-group">
                                                <label class="control-label">Synopsis</label>
                                                <textarea class="form-control" rows="4" name="{{$field.Name}}">{{$field.Flash}}</textarea>
                                            </div>
                                            {{end}}
                                        </div>
                                    </div>
                                    <h3 class="box-title m-t-40">Stock and Price</h3>
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{with $field := field "data.Stock" .}}
                                            <div class="form-group">
                                                <label class="control-label">Current Stock</label>
                                                <input type="number" id="{{$field.Name}}" name="{{$field.Name}}" class="form-control" placeholder="0" readonly value="{{$field.Value}}">
                                            </div>
                                            {{end}}
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Harga Beli (modal)</label>
                                                {{with $field := field "data.PurchasePrice" .}}
                                                <div class="input-group">
                                                    <div class="input-group-addon">Rp</div>
                                                    <input type="number" class="form-control" id="{{$field.Name}}" name="{{$field.Name}}" placeholder="0" required  value="{{$field.Value}}">
                                                </div>
                                                {{end}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Harga Normal</label>
                                                {{with $field := field "data.NormalPrice" .}}
                                                <div class="input-group">
                                                    <div class="input-group-addon">Rp</div>
                                                    <input type="number" class="form-control normal-price" id="{{$field.Name}}" name="{{$field.Name}}" placeholder="0" required  value="{{$field.Value}}">
                                                </div>
                                                {{end}}
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Discount (jika ada)</label>
                                                {{with $field := field "data.Discount" .}}
                                                <div class="input-group">
                                                    <div class="input-group-addon">%</div>
                                                    <input type="number" id="{{$field.Name}}" name="{{$field.Name}}" class="form-control discount" value="{{$field.Value}}">
                                                </div>
                                            </div>
                                            {{end}}
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Harga Jual</label>
                                                {{with $field := field "data.Price" .}}
                                                <div class="input-group">
                                                    <div class="input-group-addon">Rp</div>
                                                    <input type="number" class="form-control" id="sellPrice" name="sellPrice" placeholder="0" required disabled value="{{$field.Value}}">
                                                </div>
                                                {{end}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3 class="box-title m-t-40">GENERAL INFO</h3>
                                            
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                {{with $field := field "data.Length" .}}
                                                                <label>Ukuran</label>
                                                                <input type="text" class="form-control" placeholder="(10 x 10 cm)" name="{{$field.Name}}"  value="{{$field.Value}}">
                                                                {{end}}
                                                            </td>
                                                            <td>
                                                                {{with $field := field "data.PageNumber" .}}
                                                                <label>Jumlah Halaman</label>
                                                                <input type="number" class="form-control" name="{{$field.Name}}"  value="{{$field.Value}}">
                                                                {{end}}
                                                            </td>
                                                            <td>
                                                                {{with $field := field "data.Weight" .}}
                                                                <label>Berat (gram)</label>
                                                                <input type="number" class="form-control" placeholder="(gram)" name="{{$field.Name}}" value="{{$field.Value}}">
                                                                {{end}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <label>Cover</label>
                                                                <select class="form-control" name="Cover">                                                                    
                                                                    <option value="Soft Cover">Soft Cover</option>
                                                                    <option value="Hard Cover">Hard Cover</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                {{with $field := field "data.Paper" .}}
                                                                <label>Bahan Isi</label>
                                                                <input type="text" class="form-control" name="{{$field.Name}}"  value="{{$field.Value}}">
                                                                {{end}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                {{with $field := field "data.Bahasa" .}}
                                                                <label>Bahasa</label>
                                                                <input type="text" class="form-control" name="{{$field.Name}}"  value="{{$field.Value}}">
                                                                {{end}}
                                                            </td>
                                                            <td>
                                                                {{with $field := field "data.Year" .}}
                                                                <label>Tahun Terbit</label>
                                                                <input type="number" class="form-control" name="{{$field.Name}}"  value="{{$field.Value}}">
                                                                {{end}}
                                                            </td>                                                       
                                                            <td>
                                                                {{with $field := field "data.ISBN" .}}
                                                                <label>ISBN</label>
                                                                <input type="text" class="form-control" name="{{$field.Name}}"  value="{{$field.Value}}">
                                                                {{end}}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <h3 class="box-title m-t-40">Book Status</h3>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{with $field := field "data.Status" .}}
                                                <div class="radio-list">
                                                    <label class="radio-inline p-0">
                                                        <div class="radio radio-info">
                                                            <input type="radio" name="{{$field.Name}}" id="radioPublish" value="1">
                                                            <label for="radioPublish">Publish</label>
                                                        </div>
                                                    </label>
                                                    <label class="radio-inline">
                                                        <div class="radio radio-info">
                                                            <input type="radio" name="{{$field.Name}}" id="radioDraft" value="0" checked>
                                                            <label for="radioDraft">Draft</label>
                                                        </div>
                                                    </label>
                                                </div>
                                                {{end}}
                                            </div>
                                        </div>
                                    </div>
                                    <small>Draft book will not shown in product list</small> -->
                                    <hr> 
                                </div>
                                <div class="form-actions m-t-40">
                                    <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                                    <a href="/dashboard/master/book"><button type="button" class="btn btn-default">Cancel</button></a>
                                </div>
                            </form>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
            
{{template "Template/footer.html"}}
<script src="/public/components/dropify/dist/js/dropify.min.js"></script>
<script src="/public/components/moment/moment.js"></script>
<script src="/public/components/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="/public/components/timepicker/bootstrap-timepicker.min.js"></script>
<script src="/public/components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/public/components/custom-select/custom-select.min.js" type="text/javascript"></script>
<script src="/public/components/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
<script type="text/javascript" charset="utf-8">
    $(function() {
        $('.dropify').dropify();
        $('.input-daterange-timepicker').daterangepicker({
            timePicker: true,
            format: 'DD-MM-YYYY HH:MM:SS',
            timePickerIncrement: 30,
            timePicker12Hour: false,
            timePickerSeconds: false,
            buttonClasses: ['btn', 'btn-sm'],
            applyClass: 'btn-danger',
            cancelClass: 'btn-inverse'
        });
        $(".select2").select2();
    });

    $(".discount").change(function(){
        calculateTotal();
    });

    $(".normal-price").change(function(){
        calculateTotal();
    });

    function calculateTotal() {
        var discount = $('.discount').val();
        var normalPrice = $('.normal-price').val();
        var totalPrice = 0;

        // total
        if (discount > 0) { 
            totalPrice = normalPrice - (discount / 100 * normalPrice);
        }
        else {
            totalPrice = normalPrice;
        }
        $('#sellPrice').val(totalPrice);
    }
</script>