{{set . "title" "Dashboard | Bundle Add"}}
{{template "Template/header.html" .}}

<div class="page-wrapper">
    <div class="container-fluid">
        {{template "Template/flash.html" .}}
            
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">Add New Bundle</div>
                <div class="panel-wrapper collapse in" aria-expanded="true">
                    <div class="panel-body">
                        <form action="/dashboard/master/bundle/create" method="POST" enctype="multipart/form-data">
                            <div class="form-body">
                                <h3 class="box-title">About Bundle</h3>
                                <hr>
                                <div class="row">
                                    <div class="col-md-4">
                                        {{with $field := field "data.Code" .}}
                                        <div class="form-group">
                                            <label class="control-label">Bundle Code</label>
                                            <input type="text" name="{{$field.Name}}" class="form-control" required  style="text-transform:uppercase" value="{{$field.Flash}}">
                                            <span class="error">{{$field.Error}}</span>
                                            <small>New bundle code must be different from other book and bundle</small>
                                        </div>
                                        {{end}}
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-8">
                                        {{with $field := field "data.Title" .}}
                                        <div class="form-group">
                                            <label class="control-label">Bundle Title</label>
                                            <input type="text" name="{{$field.Name}}" class="form-control" required value="{{$field.Flash}}">
                                            <span class="error">{{$field.Error}}</span>
                                        </div>
                                        {{end}}
                                    </div>
                                    <!--/span-->
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label">Book List</label><br>
                                            <small>Select multiple books </small>
                                            <select class="select2 m-b-10 select2-multiple" multiple="multiple" name="BookCode" data-placeholder="Choose book" required>
                                                <option disabled selected value> -- select book -- </option>
                                                {{range .books}}
                                                <option value="{{.Code}}">{{.Title}}</option>
                                                {{end}}
                                            </select>
                                        </div>
                                    </div>  
                                </div>
                                <small>If desired data not exist in options, please insert the new <a href="/dashboard/master/book/new">book</a> first!</small>
                                
                                <h3 class="box-title m-t-40">Bundle Description</h3>
                                <div class="row">
                                    <div class="col-md-12 ">
                                        {{with $field := field "data.Notes" .}}
                                        <div class="form-group">
                                            <label class="control-label">Additional Notes</label>
                                            <textarea class="form-control" rows="4" name="{{$field.Name}}">{{$field.Flash}}</textarea>
                                        </div>
                                        {{end}}
                                    </div>
                                </div>
                                <h3 class="box-title m-t-40">Price</h3>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Discount (jika ada)</label>
                                            {{with $field := field "data.Discount" .}}
                                            <div class="input-group">
                                                <div class="input-group-addon">%</div>
                                                <input type="number" id="{{$field.Name}}" name="{{$field.Name}}" class="form-control discount">
                                            </div>
                                            {{end}}
                                        </div>                                       
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label>Harga Normal</label>
                                            {{with $field := field "data.NormalPrice" .}}
                                            <div class="input-group">
                                                <div class="input-group-addon">Rp</div>
                                                <input type="number" class="form-control normal-price" id="{{$field.Name}}" name="{{$field.Name}}" placeholder="0" required value="{{$field.Flash}}">
                                            </div>
                                            {{end}}
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Harga Jual</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">Rp</div>
                                                <input type="number" class="form-control" id="sellPrice" name="sellPrice" placeholder="0" required disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--/row-->
                                <h3 class="box-title m-t-40">Bundle Image</h3>
                                <div class="row">
                                    <div class="col-sm-6 ol-md-6 col-xs-12">
                                        <div class="white-box">
                                            <label for="mainImage">Main Image</label>
                                            <input type="file" name="mainImage" id="mainImage" class="dropify" accept="image/*"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 ol-md-6 col-xs-12">
                                        <div class="white-box"> 
                                            <label for="input-file-now-custom-1">Additional Image 1</label>
                                            <input type="file" name="additionalImage1" class="dropify" accept="image/*"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 ol-md-6 col-xs-12">
                                        <div class="white-box">
                                            <label for="input-file-now">Additional Image 2</label>
                                            <input type="file" name="additionalImage2" class="dropify" accept="image/*"/>
                                        </div>
                                    </div>
                                </div>
                                <!-- <h3 class="box-title m-t-40">Bundle Status</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{with $field := field "data.Status" .}}
                                            <div class="radio-list">
                                                <label class="radio-inline p-0">
                                                    <div class="radio radio-info">
                                                        <input type="radio" name="{{$field.Name}}" id="radioPublish" value="1">
                                                        <label for="radioPublish">Publish</label>
                                                    </div>
                                                </label>
                                                <label class="radio-inline">
                                                    <div class="radio radio-info">
                                                        <input type="radio" name="{{$field.Name}}" id="radioDraft" value="0" checked>
                                                        <label for="radioDraft">Draft</label>
                                                    </div>
                                                </label>
                                            </div>
                                            {{end}}
                                        </div>
                                    </div>
                                </div>
                                <small>Draft book will not shown in product list</small>
                                <hr>  -->
                            </div>
                            <div class="form-actions m-t-40">
                                <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                                <a href="/dashboard/master/bundle"><button type="button" class="btn btn-default">Cancel</button></a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{template "Template/footer.html"}}
<script src="/public/components/dropify/dist/js/dropify.min.js"></script>
<script src="/public/components/moment/moment.js"></script>
<script src="/public/components/custom-select/custom-select.min.js" type="text/javascript"></script>
<script src="/public/components/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
<script>
    $(function() {
        $('.dropify').dropify();
        $(".select2").select2();
    });

    $(".discount").change(function(){
        calculateTotal();
    });

    $(".normal-price").change(function(){
        calculateTotal();
    });

    $(".product-category").change(function(){
        var product = $('#product-category').val();
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 2;
        var yy = today.getFullYear();

        var today = dd+'/'+mm +'/'+yy;
        if(product == "Pre Order")
        {
            $('#notes').val("Product Pre Order membutuhkan waktu lebih lama. Pengiriman dilakukan mulai tanggal " + today);
        }
        else
        {
            $('#notes').val("");
        }
    });

    function calculateTotal() {
        var discount = $('.discount').val();
        var normalPrice = $('.normal-price').val();
        var totalPrice = 0;

        // total
        if (discount > 0) { 
            totalPrice = normalPrice - (discount / 100 * normalPrice);
        }
        else {
            totalPrice = normalPrice;
        }
        $('#sellPrice').val(totalPrice);
    }
</script>