{{set . "title" "Dashboard | Bundle"}}
{{template "Template/header.html" .}}

<div class="page-wrapper">
    <div class="container-fluid">
        {{template "Template/flash.html" .}}
            
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Master Bundle Data</div>
                    <div class="panel-wrapper collapse in" aria-expanded="true">
                        <div class="panel-body">
                            <div class="text-right">  
                                <a href="/dashboard/master/bundle/new">
                                    <button type="button" class="btn btn-outline btn-primary">New Bundle</button>
                                </a>
                            </div>
                            <hr>
                            <div class="table-responsive">
                                {{if not .data}}
                                <p class="text-center">
                                    No data
                                </p>
                                {{else}}
                                <table id="bundleTable" class="table">
                                    <thead>
                                        <tr>
                                            <th>BundleID</th>
                                            <th>Image</th>
                                            <th>Title</th>
                                            <th>Books</th>
                                            <th>Sell Price</th>
                                            <!-- <th>Status</th> -->
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{range .data}}
                                        <tr>
                                            <td>#{{.Code}}</td>
                                            <td> <img src="{{.Image}}" alt="{{.Title}}" width="120"> </td>
                                            <td>{{.Title}}</td>
                                            <td>
                                                {{range .BookTitles}}
                                                   - {{.}}<br>
                                                {{end}}
                                            </td>                                                
                                            <td>{{.PriceFormat}}</td>
                                            <!-- <td> <span class="label label-{{.StatusColor}} font-weight-100">{{.StatusFormat}}</span> </td> -->
                                            <td class="text-center">
                                                {{if .IsActive}}
                                                    <form id="data-{{.Code}}" action="/dashboard/master/bundle/{{.Code}}/delete" method="POST">
                                                        <input type="hidden" value="{{.Code}}" name="id">
                                                    </form>
                                                    <a href="#" class="text-inverse p-r-10" title="" data-toggle="tooltip" data-original-title="Delete" onclick="return deleteBundle({{.Code}})"><i class="ti-trash" style="color:red"></i></a>
                                                {{else}}
                                                    <form id="data-{{.Code}}" action="/dashboard/master/bundle/{{.Code}}/reactive" method="POST">
                                                        <input type="hidden" value="{{.Code}}" name="id">
                                                    </form>
                                                    <a href="#" class="text-inverse p-r-10" title="" data-toggle="tooltip" data-original-title="Reactive" onclick="return reactiveBundle({{.Code}})"><i class="icon-reload" style="color:blue"></i></a>
                                                {{end}}
                                                <a href="/dashboard/master/bundle/{{.Code}}/edit" class="text-inverse" data-toggle="tooltip" title="" data-original-title="Edit"><i class="ti-marker-alt" style="color:green"></i></a>
                                            </td>
                                        </tr>
                                        {{end}}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Bundle ID</th>
                                            <th>Image</th>
                                            <th>Title</th>
                                            <th>Books</th>
                                            <th>Sell Price</th>
                                            <th>Actions</th>
                                        </tr>
                                    </tfoot>
                                </table>
                                {{end}}
                            </div>                 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "Template/footer.html"}}
<script type="text/javascript" charset="utf-8">
    $(function() {
        $('#bundleTable').DataTable();
    }); 

    function deleteBundle(id) {
        sure = confirm('Are you sure want to delete this data?');
        if (sure) {
            document.getElementById('data-'+id).submit();   
        } else {
            return false;
        }
    }

    function reactiveBundle(id) {
        sure = confirm('Are you sure want to reactive this data?');
        if (sure) {
            document.getElementById('data-'+id).submit();   
        } else {
            return false;
        }
    }
</script>