{{set . "title" "Dashboard | Customer Detail"}}
{{template "Template/header.html" .}}

<div class="page-wrapper">
    <div class="container-fluid">
        {{template "Template/flash.html" .}}
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-wrapper collapse in" aria-expanded="true">
                        <div class="panel-body">
                            <form>
                                <div class="form-body">
                                    <h3 class="box-title"><i class="icon-user"></i> Customer Info</h3>
                                    <hr>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-8">
                                            {{with $field := field "data.Name" .}}
                                            <div class="form-group">
                                                <label class="control-label">Nama Lengkap</label>
                                                <input type="text" class="form-control" name="{{$field.Name}}" value="{{$field.Value}}" readonly>
                                            </div>
                                            {{end}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{with $field := field "data.Phone" .}}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="icon-phone"></i></div>
                                                    <input type="text" class="form-control" placeholder="No Handphone 1" name="{{$field.Name}}" value="{{$field.Value}}">
                                                </div>
                                            </div>
                                            {{end}}
                                        </div>
                                        <div class="col-md-8">
                                            {{with $field := field "data.Email" .}}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-email"></i></div>
                                                    <input type="email" class="form-control" placeholder="Email address" name="{{$field.Name}}" value="{{$field.Value}}">
                                                </div>
                                            </div>
                                            {{end}}
                                        </div>
                                    </div>
                                    <div class="row">                                        
                                        <div class="col-md-6">
                                            {{with $field := field "data.Facebook" .}}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-facebook"></i></div>
                                                    <input type="text" class="form-control" placeholder="Facebook" name="{{$field.Name}}" value="{{$field.Value}}"> 
                                                </div>
                                            </div>
                                            {{end}}
                                        </div>
                                        <div class="col-md-6">
                                            {{with $field := field "data.Twitter" .}}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-twitter"></i></div>
                                                    <input type="text" class="form-control" placeholder="Twitter" name="{{$field.Name}}" value="{{$field.Value}}"> 
                                                </div>
                                            </div>
                                            {{end}}
                                        </div>
        
                                        <div class="col-md-6">
                                            {{with $field := field "data.Instagram" .}}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-instagram"></i></div>
                                                    <input type="text" class="form-control" placeholder="Instgram" name="{{$field.Name}}" value="{{$field.Value}}"> 
                                                </div>
                                            </div>
                                            {{end}}
                                        </div>
                                        <div class="col-md-6">
                                            {{with $field := field "data.Line" .}}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-addon">@</div>
                                                    <input type="text" class="form-control" placeholder="LINE" name="{{$field.Name}}" value="{{$field.Value}}"> 
                                                </div>
                                            </div>
                                            {{end}}
                                        </div>
                                    </div>
                                    <!--/row-->

                                    <h3 class="box-title m-t-40"><i class="icon-location-pin"></i> Alamat</h3>
                                    <hr>
                                    <div class="row">
                                        
                                    </div>
                                    <!--/row-->
                                </div>
                                <div class="form-actions">
                                    <a href="/dashboard/master/customer">
                                        <button type="button" class="btn btn-default">Cancel</button>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{template "Template/footer.html"}}