{{set . "title" "Dashboard | Customer"}}
{{template "Template/header.html" .}}

<!-- Page Content -->
<div class="page-wrapper">
    <div class="container-fluid">
        {{template "Template/flash.html" .}}
        
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Data Customer</div>
                    <div class="panel-wrapper collapse in" aria-expanded="true">
                        <div class="panel-body">
                        <!-- Button trigger modal -->
                        <!-- <div class="text-right">  
                                <a href="/dashboard/master/customer/new">
                                    <button type="button" class="btn btn-outline btn-primary">New Customer</button>
                                </a>
                        </div> -->
                        <div class="table-responsive">
                        <br>
                        <table id="myTable" class="table table-striped" role="grid">
                            <thead class="panel panel-info">
                                <tr>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody> 
                                {{range .data}}                                       
                                <tr>
                                    <td>{{.Name}}</td>
                                    <td>{{.Phone}}</td>
                                    <td>{{.Email}}</td>
                                    <td>
                                        <a href="/dashboard/master/customer/{{.ID}}" class="text-inverse" data-toggle="tooltip" data-original-title="View"><i class="ti-search" style="color:green"></i></a>
                                    </td>
                                </tr>    
                                {{end}}                                    
                            </tbody>
                        </table>                                
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
</div>

{{template "Template/footer.html"}}
<script type="text/javascript" charset="utf-8">
    $(function() {
        $('#myTable').DataTable();
    }); 

    function deleteBundle(id) {
        sure = confirm('Are you sure want to delete this data?');
        if (sure) {
            document.getElementById('data-'+id).submit();   
        } else {
            return false;
        }
    }
</script>






