{{set . "title" "Dashboard | Promo"}}
{{template "Template/header.html" .}}

<!-- Page Content -->
<div class="page-wrapper">
    <div class="container-fluid">
        {{template "Template/flash.html" .}}
            
        <!-- /row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Master Data Promo</div>
                    <div class="panel-wrapper collapse in" aria-expanded="true">
                        <div class="panel-body">
                        <!-- Button trigger modal -->
                        <div class="text-right">  
                            <a href="/dashboard/master/promo/new">
                                <button type="button" class="btn btn-outline btn-primary">New Promo</button>
                            </a>
                        </div>
                        <div class="table-responsive">
                            {{if not .data}}
                            <p class="text-center">
                                No data
                            </p>
                            {{else}}
                            <table id="myTable" class="table table-striped">
                                <thead class="panel panel-info">
                                    <tr>
                                        <th>Promo Code</th>
                                        <th>Nama Promo</th>
                                        <th>Nilai Potongan</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{range .data}}                                        
                                    <tr>
                                        <td>{{.PromoCode}}</td>
                                        <td>{{.Title}}</td>
                                        <td>{{.PromoValue}} {{.PromoSatuan}} </td>
                                        <td>{{.StartDateText}}</td>
                                        <td>{{.EndDateText}}</td>
                                        <td> {{if .IsActive}}
                                                Active
                                            {{else}}
                                                Expired
                                            {{end}}
                                        </td>
                                        <!-- <td>{{.ModifiedDate.Format "02-06-2006"}}</td> -->
                                        <td class="text-center">
                                            {{if .IsActive}}
                                                <form id="data-{{.PromoCode}}" action="/dashboard/master/promo/{{.PromoCode}}/delete" method="POST">
                                                    <input type="hidden" value="{{.PromoCode}}" name="id">
                                                </form>
                                                <a href="#" class="text-inverse p-r-10" title="" data-toggle="tooltip" data-original-title="Delete" onclick="return deletePromo({{.PromoCode}})"><i class="ti-trash" style="color:red"></i></a>
                                            {{else}}
                                                <form id="data-{{.PromoCode}}" action="/dashboard/master/promo/{{.PromoCode}}/reactive" method="POST">
                                                    <input type="hidden" value="{{.PromoCode}}" name="id">
                                                </form>
                                                <a href="#" class="text-inverse p-r-10" title="" data-toggle="tooltip" data-original-title="Reactive" onclick="return reactivePromo({{.PromoCode}})"><i class="icon-reload" style="color:blue"></i></a>
                                            {{end}}
                                            <a href="/dashboard/master/promo/{{.PromoCode}}/edit" class="text-inverse" data-toggle="tooltip" title="" data-original-title="Edit"><i class="ti-marker-alt" style="color:green"></i></a>
                                        </td>
                                    </tr>
                                    {{end}}
                                </tbody>
                            </table>    
                            {{end}}                            
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Product Promo</div>
                    <div class="panel-wrapper collapse in" aria-expanded="true">
                        <div class="panel-body">
                       
                        <div class="text-right">  
                            <button type="button" class="btn btn-outline btn-primary" data-toggle="modal" data-target="#modal-promo">New Product Promo</button>
                        </div>
                        <div class="table-responsive">
                        <br>
                        <table id="myTable" class="table table-responsive" role="grid">
                            <thead class="panel panel-info">
                                <tr>
                                    <th>Promo Code</th>
                                    <th>Product Title</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{.PromoCode}}</td>
                                    <td>{{.ProductTitle}}</td>
                                    <td class="text-center">
                                        <form id="data-{{.Code}}" action="/dashboard/master/promo/{{.Code}}/delete" method="POST">
                                            <input type="hidden" value="{{.Code}}" name="id">
                                        </form> 
                                        <a href="#" class="text-inverse p-r-10" title="" data-toggle="tooltip" data-original-title="Delete" onclick="return deleteBundle({{.Code}})"><i class="ti-trash" style="color:red"></i></a>
                                        <a href="/dashboard/master/promo/{{.Code}}/edit" class="text-inverse" data-toggle="tooltip" title="" data-original-title="Edit"><i class="ti-marker-alt" style="color:green"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- /.row -->
    </div>
</div>


{{template "Template/footer.html"}}
<script type="text/javascript" charset="utf-8">
    function deletePromo(id) {
        sure = confirm('Are you sure want to delete this data?');
        if (sure) {
            document.getElementById('data-'+id).submit();   
        } else {
            return false;
        }
    }

    function reactivePromo(id) {
        sure = confirm('Are you sure want to re-active this data?');
        if (sure) {
            document.getElementById('data-'+id).submit();   
        } else {
            return false;
        }
    }

    function addProductField() {
        $("#product > .row:first-child").clone(true).insertAfter("#product > .row:last-child")
    }
    $(".delete-product").click( function() {
        if ($(this).parent().parent().parent().children().length > 1) {
            $(this).parent().parent().remove()

        }
    })

    $(function() {
    $('#myTable').DataTable();
    
    var table = $('#myBundle').DataTable({
        "columnDefs": [{
            "visible": false,
            "targets": 0
        }],
        "order": [
            [0, 'asc']
        ],
        "displayLength": 10,
        "drawCallback": function(settings) {
            var api = this.api();
            var rows = api.rows({
                page: 'current'
            }).nodes();
            var last = null;
            api.column(0, {
                page: 'current'
            }).data().each(function(group, i) {
                if (last !== group) {
                    $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                    last = group;
                }
            });
        }
    });
});    
</script>