{{set . "title" "Dashboard | Promo Edit"}}
{{template "Template/header.html" .}}

<div class="page-wrapper">
    <div class="container-fluid">
        {{template "Template/flash.html" .}}
            
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading"> New Promo</div>
                    <div class="panel-wrapper collapse in" aria-expanded="true">
                        <div class="panel-body">
                            <form action="/dashboard/master/promo/{{.ID}}/save" method="POST">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-3">   
                                            {{with $field := field "p.PromoCode" .}}
                                            <div class="form-group">
                                                <label class="control-label">Kode Promo</label>
                                                <input type="text" class="form-control" name="{{$field.Name}}" value="{{$field.Value}}" required>                                                        
                                            </div>                                 
                                            {{end}}                   
                                        </div>
                                        <div class="col-md-6">
                                            {{with $field := field "p.Title" .}}
                                            <div class="form-group">
                                                <label class="control-label">Nama Promo</label>
                                                <input type="text" class="form-control" name="{{$field.Name}}" value="{{$field.Value}}" required>                                                        
                                            </div>
                                            {{end}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Tipe Promo</label>
                                                <select class="form-control" name="Type">
                                                    <option {{if eq "Kupon" .p.Type}}selected{{end}} value="Kupon">Kupon</option>
                                                    <option {{if eq "Diskon" .p.Type}}selected{{end}} value="Diskon">Diskon</option>
                                                </select>
                                            </div>                                                    
                                        </div> 
                                        <div class="col-md-3">
                                            {{with $field := field "p.MinProduct" .}}
                                            <div class="form-group">
                                                <label class="control-label">Minimal Jumlah Pembelian</label>
                                                <input type="number" class="form-control" name="{{$field.Name}}" value="{{$field.Value}}" required>                                                        
                                            </div>
                                            {{end}}
                                        </div>

                                        <div class="col-md-3">
                                            {{with $field := field "p.MinPembayaran" .}}
                                            <div class="form-group">
                                                <label class="control-label">Minimal Jumlah Pembayaran</label>
                                                <input type="number" class="form-control" name="{{$field.Name}}" value="{{$field.Value}}" required>                                                        
                                            </div>
                                            {{end}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">                                    
                                            <div class="form-group">
                                                <label>Satuan</label>
                                                <select class="form-control" name="PromoSatuan">
                                                    <option {{if eq "%" .p.PromoSatuan}}selected{{end}} value="%">%</option>
                                                    <option {{if eq "IDR" .p.PromoSatuan}}selected{{end}} value="IDR">IDR</option>
                                                </select>
                                            </div>                                   
                                        </div>
                                        <div class="col-md-3">        
                                            {{with $field := field "p.PromoValue" .}}                                            
                                            <div class="form-group">
                                                <label>Nilai Potongan</label>
                                                <input type="number" class="form-control" name="{{$field.Name}}" value="{{$field.Value}}" required>
                                            </div>
                                            {{end}}
                                        </div>
                                        <div class="col-md-3">         
                                            {{with $field := field "p.MaxReduction" .}}                                           
                                            <div class="form-group">
                                                <label>Maksimal Potongan (IDR)</label>
                                                <input type="number" class="form-control" placeholder="IDR" name="{{$field.Name}}" value="{{$field.Value}}" required>
                                            </div>
                                            {{end}}
                                        </div>
                                    </div>  
                                    <div class="row">
                                        <div class="col-md-3">
                                            {{with $field := field "p.MaxCount" .}}  
                                            <div class="form-group">
                                                <label>Maksimal Penggunaan (Kupon)</label>
                                                <input type="number" class="form-control" name="{{$field.Name}}" value="{{$field.Value}}">                                                        
                                            </div>  
                                            {{end}}                                                  
                                        </div>
                                        <div class="col-md-3">
                                            {{with $field := field "p.MaxBudget" .}}  
                                            <div class="form-group">
                                                <label>Maksimal Budget (IDR)</label>
                                                <input type="number" class="form-control" placeholder="IDR" name="{{$field.Name}}" value="{{$field.Value}}">                                                        
                                            </div>      
                                            {{end}}                                              
                                        </div>
                                    </div> 
                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="example">
                                                <h5 class="box-title m-t-30">Periode</h5>
                                                <div class="input-daterange input-group" id="date-range">
                                                    <!-- {{with $field := field "p.PeriodStart" .}}   -->
                                                    <input type="text" class="form-control" name="PeriodStart" value="{{$field.Value}}"/> 
                                                    <!-- {{end}}   -->
                                                    <span class="input-group-addon bg-info b-0 text-white">to</span>
                                                    <!-- {{with $field := field "p.PeriodEnd" .}}   -->
                                                    <input type="text" class="form-control" name="PeriodEnd" value="{{$field.Value}}"/> 
                                                    <!-- {{end}}   -->
                                                </div>
                                            </div>                        
                                        </div>
                                    </div>
                                </div>                       
                                <hr>
                                <br>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                                    <a href="/dashboard/master/promo">
                                        <button type="button" class="btn btn-default">Cancel</button>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{{template "Template/footer.html"}}
<script>
// Clock pickers
$('#single-input').clockpicker({
    placement: 'bottom',
    align: 'left',
    autoclose: true,
    'default': 'now'
});
$('.clockpicker').clockpicker({
    donetext: 'Done',
}).find('input').change(function() {
    console.log(this.value);
});
$('#check-minutes').click(function(e) {
    // Have to stop propagation here
    e.stopPropagation();
    input.clockpicker('show').clockpicker('toggleView', 'minutes');
});
if (/mobile/i.test(navigator.userAgent)) {
    $('input').prop('readOnly', true);
}
// Colorpicker
$(".colorpicker").asColorPicker();
$(".complex-colorpicker").asColorPicker({
    mode: 'complex'
});
$(".gradient-colorpicker").asColorPicker({
    mode: 'gradient'
});
// Date Picker
jQuery('.mydatepicker, #datepicker').datepicker();
jQuery('#datepicker-autoclose').datepicker({
    autoclose: true,
    todayHighlight: true
});
jQuery('#date-range').datepicker({
    toggleActive: true
});
jQuery('#datepicker-inline').datepicker({
    todayHighlight: true
});
// Daterange picker
$('.input-daterange-datepicker').daterangepicker({
    buttonClasses: ['btn', 'btn-sm'],
    applyClass: 'btn-danger',
    cancelClass: 'btn-inverse'
});
$('.input-daterange-timepicker').daterangepicker({
    timePicker: true,
    format: 'MM/DD/YYYY h:mm A',
    timePickerIncrement: 30,
    timePicker12Hour: true,
    timePickerSeconds: false,
    buttonClasses: ['btn', 'btn-sm'],
    applyClass: 'btn-danger',
    cancelClass: 'btn-inverse'
});
$('.input-limit-datepicker').daterangepicker({
    format: 'MM/DD/YYYY',
    minDate: '06/01/2015',
    maxDate: '06/30/2015',
    buttonClasses: ['btn', 'btn-sm'],
    applyClass: 'btn-danger',
    cancelClass: 'btn-inverse',
    dateLimit: {
        days: 6
    }
});
</script>