{{set . "title" "Dashboard | Publisher"}}
{{template "Template/header.html" .}}

<div class="page-wrapper">
    <div class="container-fluid">
        {{template "Template/flash.html" .}}
            
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Master Publisher</div>
                    <div class="panel-wrapper collapse in" aria-expanded="true">
                        <div class="panel-body">
                            <div class="text-right">  
                                <a href="/dashboard/master/publisher/new">
                                    <button type="button" class="btn btn-outline btn-primary">New Publisher</button>
                                </a>
                            </div>  
                            <hr>  
                            <div class="table-responsive">
                                {{if not .data}}
                                <p class="text-center">
                                    No data
                                </p>
                                {{else}}
                                <table id="publisherTable" class="table table-striped">
                                    <thead>
                                        <tr>
                                        <th>Code</th>
                                        <th>Nama Penerbit</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Officialy</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{range .data}}
                                        <tr>
                                        <td>{{.Code}}</td>
                                        <td>{{.Name}}</td>
                                        <td>{{.Phone1}}</td>
                                        <td>{{.Email}}</td>
                                        <td>{{if eq .OfficialType "Regular"}}
                                                Regular
                                            {{else}}
                                                <font color="blue">Official</font>
                                            {{end}}
                                        </td>
                                        <td> {{if .IsActive}}
                                                Active
                                            {{else}}
                                                Deactive
                                            {{end}}
                                        </td>
                                        <td class="text-center">
                                            {{if .IsActive}}
                                                <form id="data-{{.Code}}" action="/dashboard/master/publisher/{{.Code}}/delete" method="POST">
                                                    <input type="hidden" value="{{.Code}}" name="id">
                                                </form>
                                                <a href="#" class="text-inverse p-r-10" title="" data-toggle="tooltip" data-original-title="Delete" onclick="return deletePublisher({{.Code}})"><i class="ti-trash" style="color:red"></i></a>
                                            {{else}}
                                                <form id="data-{{.Code}}" action="/dashboard/master/publisher/{{.Code}}/reactive" method="POST">
                                                    <input type="hidden" value="{{.Code}}" name="id">
                                                </form>
                                                <a href="#" class="text-inverse p-r-10" title="" data-toggle="tooltip" data-original-title="Reactive" onclick="return reactivePublisher({{.Code}})"><i class="icon-reload" style="color:blue"></i></a>
                                            {{end}}
                                            <a href="/dashboard/master/publisher/{{.Code}}/edit" class="text-inverse" data-toggle="tooltip" title="" data-original-title="Edit"><i class="ti-marker-alt" style="color:green"></i></a>
                                        </td>
                                        </tr>
                                        {{end}}
                                    </tbody>
                                </table>
                                {{end}}
                            </div>                                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>

{{template "Template/footer.html"}}
<script type="text/javascript" charset="utf-8">
    $(function() {
        $('#publisherTable').DataTable();
    }); 

    function deletePublisher(id) {
        sure = confirm('Are you sure want to delete this data?');
        if (sure) {
            document.getElementById('data-'+id).submit();   
        } else {
            return false;
        }
    }

    function reactivePublisher(id) {
        sure = confirm('Are you sure want to delete this data?');
        if (sure) {
            document.getElementById('data-'+id).submit();   
        } else {
            return false;
        }
    }
</script>