{{set . "title" "Dashboard | Writer Add"}}
{{template "Template/header.html" .}}

<div class="page-wrapper">
    <div class="container-fluid">
        {{template "Template/flash.html" .}}  
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">New Writer</div>
                    <div class="panel-wrapper collapse in" aria-expanded="true">
                        <div class="panel-body">
                            <form action="/dashboard/master/writer/create" method="POST">
                                <div class="form-body">
                                    <h3 class="box-title"><i class="icon-user"></i> Writer Info</h3>
                                    <hr>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{with $field := field "p.Code" .}}
                                            <div class="form-group">
                                                <label class="control-label">Kode Penulis</label>
                                                <input type="text" class="form-control" name="{{$field.Name}}" value="{{$field.Flash}}" style="text-transform: uppercase" required>
                                                <span class="error">{{$field.Error}}</span>
                                            </div>
                                            {{end}}
                                        </div>
                                        
                                        <div class="col-md-8">
                                            {{with $field := field "p.Name" .}}
                                            <div class="form-group">
                                                <label class="control-label">Nama Penulis</label>
                                                <input type="text" class="form-control" name="{{$field.Name}}" value="{{$field.Flash}}" required>
                                                <span class="error">{{$field.Error}}</span>
                                            </div>
                                            {{end}}
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{with $field := field "p.Phone1" .}}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="icon-phone"></i></div>
                                                    <input type="number" class="form-control" placeholder="No Handphone 1" name="{{$field.Name}}" value="{{$field.Flash}}">
                                                    </div>
                                            </div>
                                            {{end}}
                                        </div>
                                        <div class="col-md-6">
                                            {{with $field := field "p.Phone2" .}}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="icon-phone"></i></div>
                                                    <input type="number" class="form-control" placeholder="No Handphone 2" name="{{$field.Name}}" value="{{$field.Flash}}">
                                                </div>
                                            </div>
                                            {{end}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{with $field := field "p.Email" .}}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-email"></i></div>
                                                    <input type="email" class="form-control" placeholder="Email address" name="{{$field.Name}}" value="{{$field.Flash}}">
                                                </div>
                                            </div>
                                            {{end}}
                                        </div>
                                        <div class="col-md-6">
                                            {{with $field := field "p.Facebook" .}}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-facebook"></i></div>
                                                    <input type="text" class="form-control" placeholder="Enter facebook" name="{{$field.Name}}" value="{{$field.Flash}}"> 
                                                </div>
                                            </div>
                                            {{end}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{with $field := field "p.Twitter" .}}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-twitter"></i></div>
                                                    <input type="text" class="form-control" placeholder="Enter twitter" name="{{$field.Name}}" value="{{$field.Flash}}"> 
                                                </div>
                                            </div>
                                            {{end}}
                                        </div>
        
                                        <div class="col-md-6">
                                            {{with $field := field "p.Instagram" .}}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="ti-instagram"></i></div>
                                                    <input type="text" class="form-control" placeholder="Enter Instgram" name="{{$field.Name}}" value="{{$field.Flash}}"> 
                                                </div>
                                            </div>
                                            {{end}}
                                        </div>
                                    </div>
                                    <!--/row-->                            
        
                                    <h3 class="box-title m-t-40"><i class="icon-location-pin"></i> Alamat</h3>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{$states := .states}}
                                            {{with $field := field "p.State" .}}
                                            {{$stateID := $field.Value}}
                                            <div class="form-group">
                                                <label>Negara</label>
                                                <select class="form-control">
                                                    {{range $states}}
                                                    <option {{if eq .ID $stateID}}selected{{end}} value="{{.ID}}">{{.Name}}</option>
                                                    {{end}}
                                                </select>
                                            </div>
                                            {{end}}
                                        </div>
                                        <div class="col-md-4">
                                            {{$provinces := .provinces}}
                                            {{with $field := field "p.Province" .}}
                                            {{$provinceID := $field.Value}}
                                            <div class="form-group">
                                                <label>Provinsi</label>
                                                <select class="form-control" id="customer-province" name="{{$field.Name}}">
                                                    <option disabled selected>Select</option>
                                                    {{range $provinces}}
                                                    <option {{if eq .ID $provinceID}}selected{{end}} value="{{.ID}}">{{.Name}}</option>
                                                    {{end}}
                                                </select>
                                            </div>
                                            {{end}}
                                        </div>
                                        <div class="col-md-4">
                                            {{$cities := .cities}}
                                            {{with $field := field "p.City" .}}
                                            {{$cityID := $field.Value}}
                                            <div class="form-group">
                                                <label>Kota</label>
                                                <select class="form-control" id="customer-city" name="{{$field.Name}}">
                                                    <option disabled selected>Select</option>
                                                    {{range $cities}}
                                                    <option {{if eq .ID $cityID}}selected{{end}} value="{{.ID}}">{{.Name}}</option>
                                                    {{end}}
                                                </select>
                                            </div>
                                            {{end}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            {{with $field := field "p.Kecamatan" .}}
                                            <div class="form-group">
                                                <label for="customer-kecamatan">Kecamatan</label>
                                                <input type="text" class="form-control" id="customer-kecamatan" name="{{$field.Name}}" value="{{$field.Flash}}"> 
                                            </div>
                                            {{end}}
                                        </div>
                                        <div class="col-md-4">
                                            {{with $field := field "p.Kelurahan" .}}
                                            <div class="form-group">
                                                <label for="customer-kelurahan">Kelurahan</label>
                                                <input type="text" class="form-control" id="customer-kelurahan" name="{{$field.Name}}" value="{{$field.Flash}}"> 
                                            </div>
                                            {{end}}
                                        </div>                                               
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{with $field := field "p.Street" .}}
                                            <div class="form-group">
                                                <label>Jalan</label>
                                                <input type="text" class="form-control" name="{{$field.Name}}" value="{{$field.Flash}}">
                                            </div>
                                            {{end}}
                                        </div>
                                        <div class="col-md-3">                                                    
                                            <div class="form-group">
                                                <label>Kode Pos</label>
                                                <input type="number" class="form-control" name="kodepos">
                                            </div>                                                  
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                                    <a href="/dashboard/master/writer">
                                        <button type="button" class="btn btn-default">Cancel</button>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{template "Template/footer.html"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.js"></script>
<script>
    $(function() {
        $('document').ready(function() {
            $('#customer-city').attr("disabled", true);
        });

        $("#customer-province").change(function(){
            var provinceId = $('#customer-province').val();
            $('#customer-city').empty();
            $.get( "/search/city/"+provinceId, function( data ) {
                $.each(data, function (i, item) {
                    var slct = "";
                    if ( i == 0) {
                        slct = "selected";
                    }
                    $('#customer-city').append(('<option '+slct+' value="'+item.city_id+'">' + item.city_name + ' ('+item.type+')</option>'));
                });
                $('#customer-city').attr("disabled", false);
            });
        });

    });
</script>