{{set . "title" "bukku.id"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/images/bukku.ico">
    <title>{{.title}}</title>
    
    <!-- ===== Bootstrap CSS ===== -->
    <link href="/public/bootstrap/dist/css/bootstrap.css" rel="stylesheet">    
    <!-- ===== Animation CSS ===== -->
    <link href="/public/css/animate.css" rel="stylesheet">
    <!-- ===== Custom CSS ===== -->
    <link href="/public/css/style.css" rel="stylesheet">
    <!-- ===== Color CSS ===== -->
    <link href="/public/css/colors/default.css" id="theme" rel="stylesheet">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        div.easy-autocomplete {
            width: auto !important;
        }
    </style>
</head>

<body class="mini-sidebar">        
    <!-- ===== Main-Wrapper ===== -->
    <div id="wrapper">
        <div class="preloader">
            <div class="cssload-speeding-wheel"></div>
        </div>      

        <section id="wrapper" class="login-register">
            <div class="login-box">
                <div class="white-box">
                    <form class="form-horizontal form-material" action="/login" method="POST">
                        <h3 class="box-title m-b-20">Sign In</h3>
                        {{if or .errors .flash.error}}
                        <div class="form-group">
                            <div class="col-xs-12 alert alert-danger">
                                    {{if .flash.error}}
                                        {{.flash.error}}
                                    {{end}}
                                    {{if .errors}}
                                    <ul style="margin-top:10px;">
                                        {{range .errors}}
                                            <li>{{.}}</li>
                                        {{end}}
                                    </ul>
                                    {{end}}
                            </div>
                        </div>
                        {{end}}
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required="" name="username" placeholder="Username" autocomplete="off" value="{{.flash.username}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="password" required="" name="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group text-center m-t-20">
                            <div class="col-xs-12">
                                <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Log In</button>
                            </div>
                        </div>
                        <!-- <div class="form-group m-b-0">
                            <div class="col-sm-12 text-center">
                                <p>Don't have an account? <a href="/register" class="text-primary m-l-5"><b>Sign Up</b></a></p>
                            </div>
                        </div> -->
                    </form>
                </div>
            </div>
        </section>


        <!-- <footer class="footer t-a-c">
            © 2018 Bukku.co.id
        </footer> -->
    </div>

<!-- jQuery -->
<script src="/public/components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/public/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Menu Plugin JavaScript -->
<script src="/public/js/sidebarmenu.js"></script>
<!--slimscroll JavaScript -->
<script src="/public/js/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="/public/js/waves.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/public/js/custom.js"></script>
<!--Style Switcher -->
<script src="/public/components/styleswitcher/jQuery.style.switcher.js"></script>
<!-- Clock Plugin JavaScript -->
<script src="/public/components/clockpicker/dist/jquery-clockpicker.min.js"></script>
<!-- Color Picker Plugin JavaScript -->
<script src="/public/components/jquery-asColorPicker-master/libs/jquery-asColor.js"></script>
<script src="/public/components/jquery-asColorPicker-master/libs/jquery-asGradient.js"></script>
<script src="/public/components/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js"></script>
<!-- Date Picker Plugin JavaScript -->
<script src="/public/components/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<!-- Date range Plugin JavaScript -->
<script src="/public/components/timepicker/bootstrap-timepicker.min.js"></script>
<!-- <script src="/public/components/bootstrap-daterangepicker/daterangepicker.js"></script> -->
<script src="/public/components/datatables/jquery.dataTables.min.js"></script>
<!-- start - This is for export functionality only -->
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
<!-- end - This is for export functionality only -->

</body>
</html>
