<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/images/bukku.ico">
    <title>Bukku Dashboard Registration</title>
    <!-- ===== Bootstrap CSS ===== -->
    <link href="/public/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- ===== Plugin CSS ===== -->
    <!-- ===== Animation CSS ===== -->
    <link href="/public/css/animate.css" rel="stylesheet">
    <!-- ===== Custom CSS ===== -->
    <link href="/public/css/style.css" rel="stylesheet">
    <!-- ===== Color CSS ===== -->
    <link href="/public/css/colors/default.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="mini-sidebar">
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <section id="wrapper" class="login-register">
        <div class="login-box">
            <div class="white-box">
                <form class="form-horizontal form-material" id="loginform" action="/register/new" method="POST">
                    <h3 class="box-title m-b-20">Register Admin</h3>
                    {{if or .errors .flash.error}}
                    <div class="form-group">
                        <div class="col-xs-12 alert alert-danger">
                                {{if .flash.error}}
                                    {{.flash.error}}
                                {{end}}
                                {{if .errors}}
                                <ul style="margin-top:10px;">
                                    {{range .errors}}
                                        <li>{{.}}</li>
                                    {{end}}
                                </ul>
                                {{end}}
                        </div>
                    </div>
                    {{end}}
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" required="" placeholder="Full Name" name="name" value="{{.flash.name}}" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" required="" placeholder="Username" name="username" value="{{.flash.username}}" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" required="" placeholder="Password" name="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" required="" placeholder="Confirm Password" name="repassword">
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Sign Up</button>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            <p>Already have an account? <a href="/" class="text-primary m-l-5"><b>Sign In</b></a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- jQuery -->
    <script src="/public/components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/public/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="/public/js/sidebarmenu.js"></script>
    <!--slimscroll JavaScript -->
    <script src="/public/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="/public/js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/public/js/custom.js"></script>
    <!--Style Switcher -->
    <script src="/public/components/styleswitcher/jQuery.style.switcher.js"></script>
</body>

</html>
