{{set . "title" "Dashboard | Restock"}}
{{template "Template/header.html" .}}

<!-- Page Content -->
<div class="page-wrapper">
    <div class="container-fluid">
        {{template "Template/flash.html" .}}
        <!-- /row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Stock</div>
                    <div class="panel-wrapper collapse in" aria-expanded="true">
                        <div class="panel-body">
                        <!-- Button trigger modal -->
                        <div class="text-right">  
                            <button type="button" class="btn btn-outline btn-primary" data-toggle="modal" data-target="#modal-user">New User</button>
                        </div>
                        <div class="table-responsive">
                        {{if not .data}}
                            <p class="text-center">
                                No data
                            </p>
                        {{else}}                        
                            <table id="myTable" class="table table-responsive" role="grid">
                                <thead class="panel panel-info">
                                    <tr>
                                        <th>Qty</th>
                                        <th>Book Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{range .data}}
                                        <tr>
                                            <td>{{.FullName}}</td>
                                            <td>{{.Username}}</td>
                                            <td>{{.RoleName}}</td>
                                            <td class="text-center">
                                                {{if .IsActive}}
                                                    <form id="data-{{.ID}}" action="/user/{{.ID}}/delete" method="POST">
                                                        <input type="hidden" value="{{.ID}}" name="id">
                                                    </form> 
                                                    <a href="#" class="text-inverse p-r-10" title="" data-toggle="tooltip" data-original-title="Delete" onclick="return deleteUser({{.ID}})"><i class="ti-trash" style="color:red"></i></a>
                                                {{else}}
                                                    <form id="data-{{.ID}}" action="/user/{{.ID}}/reactive" method="POST">
                                                        <input type="hidden" value="{{.ID}}" name="id">
                                                    </form> 
                                                    <a href="#" class="text-inverse p-r-10" title="" data-toggle="tooltip" data-original-title="Reactive" onclick="return reactiveUser({{.ID}})"><i class="icon-reload" style="color:blue"></i></a>
                                                {{end}}
                                                <a href="/user/{{.ID}}/edit" class="text-inverse" data-toggle="tooltip" title="" data-original-title="Edit"><i class="ti-marker-alt" style="color:green"></i></a>
                                            </td>
                                        </tr>
                                    {{end}}
                                </tbody>
                            </table>
                        {{end}}
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- /.modal user-->
        <div id="modal-user" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header panel-success"><h4 class="modal-title">Create New User</h4></div>
                <form class="form-horizontal" action="/user/create" method="POST">
                    <br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Role</label>
                        <div class="col-sm-6">
                            <select class="form-control select2" name="RoleCode">
                                {{range .roles}}
                                    <option value="{{.RoleCode}}">{{.RoleName}}</option>
                                {{end}}                                               
                            </select>
                        </div>
                    </div>
                    {{with $field := field "data.FullName" .}}
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Nama Lengkap</label>
                        <div class="col-sm-6">                            
                            <input type="text" name="{{$field.Name}}" value="{{$field.Flash}}" class="form-control" required="required">                            
                        </div>
                    </div>
                    {{end}}
                    {{with $field := field "data.Username" .}}
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Username</label>
                        <div class="col-sm-6">                                        
                                <input type="text" name="{{$field.Name}}" value="{{$field.Flash}}" class="form-control"  required> 
                        </div>
                    </div>
                    {{end}}
                    {{with $field := field "data.Password" .}}
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Password</label>
                        <div class="col-sm-6">
                            <input type="password" id="password" name="{{$field.Name}}" value="{{$field.Flash}}" class="form-control" minlength="6" required> 
                        </div>
                    </div>
                    {{end}}
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Konfirmasi Password</label>
                        <div class="col-sm-6">
                            <input type="password" id="password-confirmation" class="form-control" minlength="6" required> 
                        </div>
                    </div>                            
                    <div class="modal-footer"> 
                        <button type="submit" onclick="return Validate()" class="btn btn-success waves-effect waves-light">Submit</button>
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
        <!-- /.user -->
    </div>
</div>   


{{template "Template/footer.html"}}